[2018-09-18 02:19] yuvipanda opened #1 "JupyterHub authenticator that reads username / passwords from a CSV file"
JupyterHub authenticators can use any data source to validate the username / passwords users give them. In some cases, administrators want to make a [CSV](https://en.wikipedia.org/wiki/Comma-separated_values) file containing usernames and password as columns, and let users log in to JupyterHub with that.

For this task, write and publish (as a GitHub repository) a JupyterHub authenticator that:

1

[2018-09-18 02:31] yuvipanda opened #2 "Allow users to reset their own passwords with First Use Authenticator"
[FirstUseAuthenticator](https://github.com/yuvipanda/jupyterhub-firstuseauthenticator) is a JupyterHub authenticator where the first password a user uses is considered their password of record. This works great for simple use cases, but is problematic when users need to reset their own password.

For this task, make a GitHub Pull Request to the [FirstUseAuthenticator](https://github.com/yuvipanda/

[2018-09-19 23:20] yuvipanda opened #4 "Add user name to control panel in JupyterHub"
See https://github.com/jupyterhub/jupyterhub/issues/2157

[2018-09-20 00:25] yuvipanda opened #5 "Make tljh-config error explicitly if called without `sudo`"
See https://github.com/jupyterhub/the-littlest-jupyterhub/issues/120

[2018-09-20 00:34] yuvipanda opened #6 "Write a simple async commandline client to list items from etcd"
This task is to help you learn & understand how to run etcd, and talk to it from Python asynchronously.

To complete this task, you should:

1. Setup [etcd](https://coreos.com/etcd/) on your computer
2. Write a simple commandline client using [python-etcd](https://python-aio-etcd.readthedocs.io/en/latest/) that connects to etcd & lists all keys (& their values) that start with a given prefix.
3. W

[2018-09-20 12:06] minrk opened #7 "Write a traefik toml configuration for prefix-based routing"
[traefik](https://traefik.io) is a proxy application that we want to use in JupyterHub. We want to be able to configure it to replace [configurable-http-proxy](https://github.com/jupyterhub/configurable-http-proxy). But first, we need to understand its configuration.

The first step to understanding traefik is to write a [toml configuration file](https://docs.traefik.io/configuration/entrypoints/)

[2018-09-20 12:27] minrk opened #8 "Improve test coverage of JupyterHub"
Testing is important to maintaining software, and we can always have more tests! One good way to learn about a code base can be to look at coverage reports and see what isn't covered, and look for a way to add a test to cover that case. Doing so helps you learn:

1. about the structure of the project
2. how testing for the project works
3. how to write and run tests

Steps:

1. look at the jupyter

[2018-09-20 12:40] minrk opened #9 "Switch to aiohttp for requests in jupyterhub's cull_idle_servers"
[JupyterHub](https://github.com/jupyterhub/jupyterhub) uses tornado's [httpclient](http://www.tornadoweb.org/en/stable/httpclient.html) to make requests internally. We would like to switch to using [aiohttp](http://aiohttp.readthedocs.io) instead.

Tasks:

1. read [cull_idle_servers.py](https://github.com/jupyterhub/jupyterhub/blob/master/examples/cull-idle/cull_idle_servers.py)
2. install jupyter

[2018-09-21 07:11] sashafierce commented on #4
Hello @yuvipanda! I am an outreachy aspirant and would like to start with this task.

[2018-09-21 08:10] sashafierce commented on #4
I have setup the development environment, accessed the local server, while logging in I used my Linux machine's auth credentials. I understand this so far, it is required to show the current user under control panel in locally run JupyterHub instance (I have thought of an appropriate placement, refer screen-shot), can you please clarify " this is not obvious with a bunch of Authenticators"
![jupyt

[2018-09-21 08:13] minrk commented on #4
@sashafierce welcome! That screenshot looks perfect. I don't believe the "this is not obvious" comment should be relevant. The username should be available as `user.name` in the jinja template. Feel free to ask further questions here or [on gitter](https://gitter.im/jupyterhub/jupyterhub)

[2018-09-21 12:30] religofsil commented on #9
Hi! My name is Sasha, I'm an Outreachy applicant, and I would like to work on this task.

[2018-09-21 13:05] minrk commented on #9
@religofsil great! Feel free to ask further questions here or on gitter. The place to start is getting set up with a [local install of jupyterhub](https://github.com/jupyterhub/jupyterhub/blob/master/CONTRIBUTING.md).

[2018-09-21 13:46] sashafierce commented on #4
@minrk  @yuvipanda Thanks for the guidance! I don't have much web development experience but I gained a good exposure with this issue, learned basics of jinja and tornado framework, hoping to learn further!

[2018-09-21 13:47] minrk commented on #4
@sashafierce great job! This has been merged into jupyterhub master as https://github.com/jupyterhub/jupyterhub/pull/2164

[2018-09-21 13:47] #4 closed

[2018-09-21 14:03] sashafierce commented on #6
@yuvipanda This tasks sounds interesting and I would like to begin with this. Reading more about python-etcd.

[2018-09-21 18:12] yuvipanda opened #11 "Move simplespawner into JupyterHub"
See https://github.com/jupyterhub/jupyterhub/issues/2168

Remember, you don't need to already know how to do all this! We'll help you. Respond to the issue here or [on gitter](https://gitter.im/jupyterhub/jupyterhub) if you have questions :)

[2018-09-21 18:19] yuvipanda opened #12 "Move DummyAuthenticator into JupyterHub"
See https://github.com/jupyterhub/jupyterhub/issues/2169

Remember, you don't need to already know how to do all this! We'll help you. Respond to the issue here or [on gitter](https://gitter.im/jupyterhub/jupyterhub) if you have questions :)

[2018-09-21 18:39] yuvipanda opened #13 "Add 'running_servers' prometheus metric to JupyterHub"
See https://github.com/jupyterhub/jupyterhub/issues/2170

Remember, you don't need to already know how to do all this! We'll help you. Respond to the issue here or [on gitter](https://gitter.im/jupyterhub/jupyterhub) if you have questions :)

[2018-09-21 19:02] yuvipanda opened #14 "Add server_stop_duration_seconds prometheus metric"
See https://github.com/jupyterhub/jupyterhub/issues/2171

Remember, you don't need to already know how to do all this! We'll help you. Respond to the issue here or [on gitter](https://gitter.im/jupyterhub/jupyterhub) if you have questions :)

[2018-09-21 19:40] leportella commented on #2
Hi! I am an outreachy applicant and I would like to work on this :)

[2018-09-23 15:39] GeorgianaElena commented on #13
Hi! I've submitted a pull request addressing this issue as part of Outreachy. I'm not sure this is the intended behavior of the metric, any feedback would be highly appreciated :).

https://github.com/jupyterhub/jupyterhub/pull/2176

[2018-09-23 21:58] sashafierce commented on #6
@yuvipanda  Update1- I have done the following so far:

1. Setup etcd on my local machine (using https://coreos.com/etcd/docs/latest/dl_build.html) and tried using setting key - value pairs and retrieving values, keys corresponding to prefix
2. Setup a CoreOS cluster using vagrant (https://coreos.com/os/docs/latest/booting-on-vagrant.html) to tey etcdctl with cluster of machines but ran into error

[2018-09-24 07:46] minrk commented on #2
@leportella great! Feel free to ask guidance questions here or on gitter.

[2018-09-24 08:37] minrk commented on #13
Thanks for implementing this one!

[2018-09-24 08:37] #13 closed

[2018-09-24 08:50] GeorgianaElena commented on #7
I've worked with Apache Traffic Server in the past and I'd love to investigate how traefik works as well. I will give this issue a try.

[2018-09-24 09:01] minrk commented on #7
@GeorgianaElena great! It may be useful to look at the littlest jupyterhub's [traefik config template](https://github.com/jupyterhub/the-littlest-jupyterhub/blob/master/tljh/traefik.toml.tpl) as a reference, which sets up http[s], but not the path-based routing part.

[2018-09-24 11:52] nfatma commented on #8
Hello! I am Nahid, an outreachy applicant and I want to give this issue a try

[2018-09-24 12:06] minrk commented on #8
Welcome! Feel free to ask questions here or on Gitter for guidance.

[2018-09-24 12:07] GeorgianaElena commented on #7
Thanks a lot! Do you think it would be better to work directly in that littlest jupyterhub repo? We might be able to reuse some of the code there instead of duplicating it here.

[2018-09-24 12:21] minrk commented on #7
I wouldn't for this one. I would mainly look at that traefik.toml file as an example, and write a standalone traefik.toml to test. The [PathPrefix matcher](https://docs.traefik.io/basics/#matchers) is probably a key configuration to understand.

[2018-09-24 17:12] yuvipanda commented on #1
@Anisha1234 awesome :) You're already on gitter, so feel free to continue asking us questions there. Welcome to the community :)

[2018-09-24 17:16] yuvipanda commented on #6
@sashafierce awesome! Let us know if where / how we can help! etcd also has its own support channels at https://github.com/etcd-io/etcd#contact that might be useful, especially for running etcdctl.

[2018-09-24 17:24] yuvipanda opened #15 "Add 'check_routes_duration_seconds' metric to JupyterHub"
See https://github.com/jupyterhub/jupyterhub/issues/2183

Remember, you don't need to already know how to do all this! We'll help you. Respond to the issue here or [on gitter](https://gitter.im/jupyterhub/jupyterhub) if you have questions :)

[2018-09-24 17:39] yuvipanda opened #16 "Add server_poll_duration_seconds prometheus metric"
See https://github.com/jupyterhub/jupyterhub/issues/2185

Remember, you don't need to already know how to do all this! We'll help you. Respond to the issue here or [on gitter](https://gitter.im/jupyterhub/jupyterhub) if you have questions :)

[2018-09-25 08:47] minrk commented on #2
That sounds like great progress!

You are right that modifying jupyterhub/jupyterhub probably isn't the right approach, but the principles ought to be the same, it's just a bit of a question about where the code lands. In this case, it should all live in `firstuseauthenticator`.

I would put it in `firstuseauthenticator/templates/reset.html` (`templates` would be a sibling of `firstuseauthenticato

[2018-09-25 15:40] sashafierce commented on #6
@yuvipanda Thanks I will keep in mind. Please check this [naive code](https://github.com/sashafierce/python-etcd-cmdclient/blob/master/read_prefixkeys_etcd.py) for a simple async client that writes some key value pairs to etcd and reads the keys with provided prefix and kindly tell if I am going towards the right direction with this.
Also i noticed I can only read the keys that I write with this c

[2018-09-25 19:18] kyla-harper commented on #12
I'm interested in working on this. May I be assigned to this task?

[2018-09-25 23:09] leportella commented on #2
@minrk thank you for your comments. They were extremely helpful!

I created a [Pull Request](https://github.com/jupyterhub/firstuseauthenticator/pull/8) but @yuvipanda comments puts a link for testing the Authenticator. Since no tests were available, I created a PR without it and came here to ask for help on this subject.  Should this be done with tests? Should I created tests for everything?

Aga

[2018-09-26 09:04] GeorgianaElena commented on #7
Hi @minrk, I've just added a pull request with my progress so far. At the moment I have a toml file and a dummy py server that helps me test the functionality. I have a local traefik instance running with this config file and I've tested it using the python server and some curl calls, everything seems to be working as required.

Before writing the tests, I want to make sure I'm on the right path.

[2018-09-26 10:06] kshitija08 commented on #11
@minrk, @yuvipanda  I want to work on this issue. Kindly, guide me.

[2018-09-26 12:12] minrk commented on #7
Hi @GeorgianaElena! Could you open it as a PR to this repo instead of jupyterhub/jupyterhub? This is an experiment for developing information that will ultimately go in a repo we haven't created yet, so I think here is the right place for now.

[2018-09-26 12:33] GeorgianaElena commented on #7
Thanks a lot @minrk and sorry for the PR to the wrong repo.

[2018-09-26 13:05] minrk commented on #2
@leportella If you'd like to take a stab at adding tests, that would be awesome, but since we haven't set up the initial testing on that repo, I don't think we can reasonably ask you to do that right now. I've started the basics in https://github.com/jupyterhub/firstuseauthenticator/pull/9, which should make it doable to add a test for the `.reset_password` method. Testing the handler might be mor

[2018-09-26 14:27] minrk commented on #11
@kshitija08 great! There is a Spawner class defined [here](https://github.com/jupyterhub/simplespawner/blob/master/simplespawner/simplespawner.py). We've learned that this is sufficiently useful that we should include it in the base JupyterHub repo, by copying it over to [here](https://github.com/jupyterhub/jupyterhub), likely creating a new directory `jupyterhub/spawners`.

[2018-09-26 14:40] minrk commented on #6
That looks great!

Are you sure you are using the right paths? After running your script, I was able to write keys with etcdctl and read them with your script:

[code]

Note that I had to *not* include the leading `/` when passing to your script. I'm not sure if that's intended or not.

As for the functions, try implementing some of the etcdctl commands, such as `ls`, `get`, `set` with your client

[2018-09-26 19:28] sashafierce commented on #6
@minrk  Thanks for testing it, I need to check if I was using the right paths, my OS crashed for some unknown reason, will check as soon as I fix that.
About the leading `/` I created the script in such a way that it matches after the leading `/` thinking that it would be more intuitive to search keys that way since I wasn't aware of this convention, I will correct it.
I will implement the command

[2018-09-27 10:56] kshitija08 commented on #11
@minrk @yuvipanda I have made a pull request for this issue. Kindly, let me know if it has some errors as this is my first ever pull request.

[2018-09-27 11:58] GeorgianaElena commented on #16
Hi @yuvipanda! I'm blocked waiting for review on another issue. I will take a look at this one in the meantime

[2018-09-27 14:11] minrk commented on #16
Great! I see you've already done a PR adding one of these metrics, so I think you are set. Feel free to ask questions if you have them, though.

[2018-09-28 16:47] kyla-harper commented on #12
With the last two PR's merged, there are now tests, docs, and code for DummyAuthenticator in the system. Are we good to close this?

[2018-09-28 17:15] kyla-harper commented on #5
May I work on this task?

[2018-09-28 17:20] yuvipanda commented on #5
@kyle-harper yes! Consider it assigned :)

[2018-10-01 14:45] minrk commented on #12
@kyla-harper yes, I think so. Thank you!

[2018-10-01 14:45] #12 closed

[2018-10-01 14:47] minrk commented on #11
This task is complete. Thank you!

[2018-10-01 14:47] #11 closed

[2018-10-02 02:12] leportella commented on #2
I will add it to the docs as well :) I also saw an issue about name sanitizing that I could do, as well, but I would like your thoughts on that :)

[2018-10-02 11:41] minrk commented on #16
This has been merged. Thanks, @GeorgianaElena!

[2018-10-02 11:41] #16 closed

[2018-10-02 17:43] yuvipanda commented on #15
@JoyLubega welcome! We're glad to have you here :)

From https://github.com/jupyterhub/jupyterhub/issues/2183#issuecomment-424652916 it looks like someone else (@kshitija08) might already be working on it. I'd recommend picking another task.

Look forward to seeing pull requests and more participation!

[2018-10-02 19:11] leportella commented on #2
@yuvipanda I added a question on FAQ to serve as docs. If you prefer to do it in some other way, please let me know.

[2018-10-02 20:45] yuvipanda commented on #2
Awesome, @leportella! I'll call this task as done!

Congratulations :)

[2018-10-02 20:45] #2 closed

[2018-10-03 09:38] minrk commented on #1
This task is now available to be assigned again. Thanks for working on it, @Anisha1234!

[2018-10-03 09:42] GeorgianaElena commented on #1
Hi! I would like to give it a try :)

[2018-10-03 09:53] GeorgianaElena commented on #1
Actually, I've just realized this issue is related to the nativeauth project. @minrk, do you think it's a good idea for me to work on this issue, or should I pick something more related to traefik?

[2018-10-03 11:09] Naba7 commented on #1
hi .I want to work on this issue.I am trying to explore in here

[2018-10-03 11:47] Naba7 commented on #8
hello, can I work on this? I am an outreachy applicant

[2018-10-03 17:06] yuvipanda commented on #5
@kyla-harper gentle ping to see if you've made any progress :)

[2018-10-03 18:39] kyla-harper commented on #5
@yuvipanda Not much, yet. Sorry about the delay, I've been caught up with my regular full time job and a few other life things. I do have time set aside to work on this today and the next few days though. :)

As a side note, I noticed that the installer script uses `apt-get` by default. I didn't see an issue opened for it yet but would it be okay for me to open a new issue to add options (or a set

[2018-10-03 18:41] yuvipanda commented on #5
@kyla-harper no worries! take your time :)

Currently, we only support installation on Ubuntu 18.04+ systems. I think adding additional system support would be complicated, so I'd prefer to not do that just now.

https://the-littlest-jupyterhub.readthedocs.io/en/latest/contributing/dev-setup.html should help you get a dev env set up even if you do not have apt-get on your local system.

[2018-10-03 18:43] kyla-harper commented on #5
Ah, okay. Thanks for the clarification and the link!

[2018-10-04 11:19] minrk commented on #8
@Naba7 yes, any number of applicants can do this task at the same time.

[2018-10-04 11:21] minrk commented on #7
folks can see the result of this task in #17 and #19. Thank you, @GeorgianaElena!

[2018-10-04 11:21] #7 closed

[2018-10-04 12:16] JoyLubega commented on #1
Thanks @minrk

[2018-10-04 14:10] minrk opened #20 "traefik example using etcd"
Extending #7, it would be good to have an example configuration of traefik using etcd to store the routing table.

The goal: achieve the same result as #7, but use etcd to store configuration instead of placing it directly in the traefik.toml configuration.

Tasks:

1. install and start etcd
2. create (manually) the appropriate etcd values
3. pass the same tests in #19 using the new configuration

[2018-10-04 14:13] GeorgianaElena commented on #20
Hi! I would love to work on this issue. :)

[2018-10-04 14:19] minrk commented on #20
I thought you might :) Please go ahead!

[2018-10-04 14:20] GeorgianaElena commented on #20
Haha, I'm so unpredictable.

[2018-10-04 15:22] minrk commented on #9
@religofsil have you made any progress on this? Feel free to stop by gitter or ask questions here if you have them. If we don't hear from you in a couple of days, we will reopen this issue so other applicants can look at it.

[2018-10-04 15:46] yuvipanda opened #21 "Add optional authentication to /metrics endpoint in JupyterHub"
See https://github.com/jupyterhub/jupyterhub/issues/2105

Remember, you don't need to already know how to do all this! We'll help you. Respond to the issue here or [on gitter](https://gitter.im/jupyterhub/jupyterhub) if you have questions :)

[2018-10-05 12:20] #15 closed

[2018-10-05 12:26] minrk opened #22 "Benchmark JupyterHub proxy"
We have the workings of a proxy benchmark suite in https://github.com/minrk/chpbench . This will be really useful as we start to develop the traefik proxy implementation.

This repo should be reorganized to use [airspeed velocity](https://asv.readthedocs.io/en/stable/) to run benchmarks, instead of a standalone script.

The first task should be to restructure the current code and two existing benc

[2018-10-05 12:33] minrk opened #23 "Make JupyterHub proxy tests portable"
JupyterHub [has tests](https://github.com/jupyterhub/jupyterhub/blob/0.9.4/jupyterhub/tests/test_proxy.py) for verifying the proxy.

It would be useful to refactor these tests (not including `test_external_proxy`) to take a Proxy instance instead of the `app` fixture. This will make it easier to re-use the same tests with different proxy implementations. It will require writing a [pytest fixture](

[2018-10-05 12:43] minrk opened #24 "Document using the notebook's internal culling"
See https://github.com/jupyterhub/jupyterhub/issues/2032

The notebook has its own culling mechanism, so it may be useful to use that for shutting down idle servers instead of the proxy-based activity tracking.

Remember, you don't need to already know how to do all this! We'll help you. Respond to the issue here or [on gitter](https://gitter.im/jupyterhub/jupyterhub) if you have questions :)

[2018-10-05 12:47] minrk opened #25 "Implement idle-culling using notebook activity data"
Right now, idle-culling relies on consuming data from the activity-tracking proxy. The notebook now tracks activity internally, so we could be talking to each notebook individually to make more informed decisions.

- the [cull-idle script](https://github.com/jupyterhub/jupyterhub/blob/master/examples/cull-idle/cull_idle_servers.py) could be updated to get last_activity data from the notebook api i

[2018-10-05 14:08] kshitija08 commented on #9
Hey @minrk @religofsil . If no one is taking up the issue, I would like to work on this.

[2018-10-05 14:17] religofsil commented on #9
@minrk sorry, I was just reading the documentation on aiohttp and on asynchronous python, and got a bit lost, but I'm working on it!

[2018-10-06 05:33] kshitija08 commented on #22
HEY @minrk , I would like to contribute to this issue. Can I get started ?

[2018-10-06 05:35] kshitija08 commented on #25
@minrk Hey, I want to contribute to the above issue.

[2018-10-07 15:42] minrk commented on #22
Yes, please go ahead!

[2018-10-08 04:15] willingc commented on #23
Welcome @Olena23.

From gitter:

The second one you mention. You will need to create a fork of jupyterhub/jupyterhub and refactor the tests in that repo. Hope this helps. Let us know if you need assistance with setting up the development environment.

[2018-10-08 07:40] minrk commented on #6
Thanks for your work on this, @sashafierce!

This task is now available again to be reassigned.

[2018-10-08 07:41] minrk commented on #9
@religofsil no problem, just checking in! Feel free to ask questions here or in Gitter.

[2018-10-08 07:43] minrk commented on #23
Yes, it will specifically be the tests in `jupyterhub/tests/test_proxy.py` *excluding* `test_external_proxy`.

[2018-10-08 07:44] minrk commented on #25
Since you've claimed #22, we will leave this available to others. Let's try to keep only one task claimed at a time so that other applicants can work on things as well.

[2018-10-09 10:44] tuhina2020 commented on #24
hello :) . can I start working on this bug ?

[2018-10-09 13:06] minrk commented on #24
Yes, please go ahead @tuhina2020!

[2018-10-10 11:11] angelikamukhina commented on #21
Hello! I'd like to work on this issue:)

[2018-10-10 11:20] kshitija08 commented on #22
@minrk Are the functions single_run_ws and single_run_http and not run_single_ws and run_single_http [def single_run_http(url, delay, size, msgs):](here). ?

[2018-10-10 12:41] minrk commented on #22
Yes, in my description I used the wrong names. Updated just now.

[2018-10-10 13:49] minrk commented on #21
@angelikamukhina hi! This task is already being worked on by @tuhina2020. Please find another task.

[2018-10-10 13:50] minrk commented on #14
This task has been completed. Thanks @tuhina2020!

[2018-10-10 13:50] #14 closed

[2018-10-10 15:51] angelikamukhina commented on #25
Then may I work on this issue?

[2018-10-11 09:30] kshitija08 commented on #22
@minrk Hey, I have made a PR regrading the same . Kindly, check .
https://github.com/minrk/chpbench/pull/2

[2018-10-11 13:02] minrk commented on #25
@angelikamukhina absolutely! Consider it assigned.

[2018-10-11 13:05] minrk commented on #16
@GeorgianaElena could you make sure that you have recorded your contributions on the [outreachy page](https://www.outreachy.org/apply/project-selection/)?

[2018-10-11 13:06] minrk commented on #14
@tuhina2020 could you make sure to record your contributions on the [outreachy page](https://www.outreachy.org/apply/project-selection/)?

[2018-10-11 13:52] GeorgianaElena commented on #20
Hi @minrk! I ran into some problems when trying to run the tests.

I installed and started etcd as a local standalone cluster. I managed to add to this etcd cluster both manually (through `etcdctl put` commands) but also using traefik's storeconfig capability, the configuration in the toml file.

When running traefik from the cmd `traefik --etcd --etcd.endpoint=127.0.0.1:2379 --etcd.useapiv3=true

[2018-10-11 17:31] GeorgianaElena commented on #20
Indeed it was happening too quickly. There were two things happening there which caused the weird behavior:
1. When I switched traefik to use etcd it started generating more logs than before. Because I was redirecting the traefik stdout to Suprocess.PIPE, sometimes the pipe would get full causing my processes to deadlock. This one is solved now.

2. Now that etcd is involved, traefik becomes ready

[2018-10-15 13:15] minrk commented on #20
Implemented in #27

[2018-10-15 13:15] #20 closed

[2018-10-16 15:18] GeorgianaElena commented on #6
@minrk, is it ok if I continue the work @sashafierce has done on this issue?

[2018-10-17 08:40] minrk commented on #6
Yes, please do

[2018-10-17 09:09] anyushevai commented on #5
@yuvipanda , @kyla-harper  hi!
Is this issue still being worked on? If not I would like to participate here.

[2018-10-18 06:53] kyla-harper commented on #5
Hi @anyushevai, I'm finding that I have a lot less time to work on this than anticipated. I would say you should check in with @yuvipanda since he's the maintainer. I would be happy to remove myself from this task for someone else to work on this.

[2018-10-18 08:09] minrk commented on #5
@kyla-harper thanks for making room. Feel free to check back in on another task if you feel you have the time.

[2018-10-18 08:09] minrk commented on #5
@anyushevai consider this task assigned to you

[2018-10-23 07:49] minrk opened #30 "Document removing config values in the-littlest-jupyterhub"
See https://github.com/jupyterhub/the-littlest-jupyterhub/issues/203

Add to the documentation of the littlest jupyterhub how to clear/remove config values.

[2018-10-23 07:50] minrk commented on #24
@tuhina2020 are you still working on this? If not, I'd like to mark this as available to other applicants.

[2018-10-23 07:51] minrk commented on #23
@Olena23 are you still working on this? If not, I'd like to make this task available to other applicants.

[2018-10-23 08:09] minrk commented on #9
@religofsil are you still working on this one? If not, I'd like to make it available to other applicants. If so, that's fine, too! Feel free to ask questions if you need help.

[2018-10-23 08:13] minrk opened #31 "Applicants: Record contributions and submit applications"
Outreachy applicants! The Application deadline for JupyterHub is coming soon, on October 30. Please make sure to record your contributions and submit your applications on the [Outreachy website](https://www.outreachy.org/dashboard/).

[2018-10-23 09:42] gillybops commented on #30
@minrk I will give this a try

[2018-10-24 00:50] Olena23 commented on #23
Good day,

Yes, I am working on a task.
I started by reading the unit testing textbook and setting up and setting up the working environment.
At the moment I can run jupyterhub and use notebooks, and also I can run tests from the console, and they work (not counting 49 warnings).

![screenshot_20181024_012046](https://user-images.githubusercontent.com/28828146/47399043-1d53bb80-d737-11e8-8674-cf00

[2018-10-24 07:54] minrk commented on #23
yes, exactly

Yes, that's exactly right. We want to, given a Proxy class, be able to run some tests with the proxy. A fixture that returns an instantiated and running Proxy would be a good start for that.

[2018-10-24 23:46] religofsil commented on #9
Yes, I am! Sorry it's taking so long. :(

[2018-10-25 08:42] anyushevai commented on #24
Hi! I'd like giving it a try if this issue is available.

[2018-10-25 09:19] minrk commented on #9
No worries! Please feel free to ask questions here or on Gitter if you get stuck.

[2018-10-25 10:48] #5 closed

[2018-10-25 10:48] minrk commented on #5
Great job, @anyushevai!

[2018-10-25 11:45] anyushevai commented on #5
@minrk Thank you!

[2018-10-25 15:48] choldgraf commented on #5
wooo! 🎉

[2018-10-25 16:38] narnt commented on #8
Hello! I am Maria, an outreachy applicant, can I also work on this task?

[2018-10-26 08:53] minrk commented on #8
@narnt yes! Any number of applicants can do this.

[2018-10-28 10:37] narnt commented on #8
It was too hard for me(

[2022-10-04 10:17] sgibson91 opened #37 "Categorise a subset of JupyterHub's web pages into the Diataxis framework"
We would like to transform our documentation to follow the diataxis framework. This microtask will begin the mapping process of our current docs onto the framework.

**Many Outreachy applicants can work on this issue at the same time.**

1. Familiarise yourself with the [diataxis framework](https://diataxis.fr/). There's a YouTube video if you prefer to listen: https://www.youtube.com/watch?v=t4vK

[2022-10-04 14:38] minrk opened #38 "Evaluate Accessibility of Jupyter pages"
We would like to improve the accessibility of JupyterHub. This microtask will exercise the skills and tools relevant to JupyterHub accessibility project, and improve the accessibility of Jupyter websites!

Many Outreachy applicants can work on this issue at the same time.
1. Familiarize yourself with the basics of [web accessibility](https://www.w3.org/WAI/fundamentals/accessibility-intro/)
2. Ins

[2022-10-05 10:15] GeorgianaElena opened #39 "Improve the test coverage of JupyterHub projects"
We would like to improve the test coverage of the projects in the [jupyterhub organization](https://github.com/jupyterhub). This microtask will help with achieving this goal and get you familiarized with the testing infrastructure across different JupyterHub projects, as well as how to write and run the tests.

**Multiple Outreachy applicants can work on this issue at the same time.**

1. Look at

[2022-10-05 10:27] GeorgianaElena opened #40 "Implement and integrate a simple pytest plugin"
We would like to create a reusable JupyterHub pytest plugin to improve the testing infrastructure of the hub's main components, the proxy, authenticator and spawner. This microtask will exercise the skills and tools relevant to the JupyterHub pytest plugin project.

**Multiple Outreachy applicants can work on this issue at the same time.**

1. Use the [pytest plugin cookiecutter](https://github.co

[2022-10-05 14:16] sgibson91 opened #41 "Improve a page of JupyterHub documentation"
Documentation can go stale very quickly in active projects and often there's always someway it can be improved. Maybe some setup steps have changed; the wording is a little confusing and could be clearer; maybe adding a screenshot or diagram will help? This task invites you to make an improvement to one of our documentation pages and will test your technical writing skills alongside git/GitHub wor

[2022-10-05 14:41] sgibson91 opened #42 "Clean up the repo"
Let's perform some clean up steps on this repo!

- [x] Close contribution issues from previous rounds of Outreachy
- [ ] Both of the below tasks are addressed by https://github.com/jupyterhub/outreachy/pull/47
	- (re)Move the code in this repo elsewhere (it was specific to the last cohort's tasks)
	- Move the project proposals elsewhere
	  - I'm thinking of moving to an issue ticket system for pro

[2022-10-05 15:00] sgibson91 opened #43 "Create a new labelling system for the repo"
As well as contribution issues, I'm thinking of turning the process of scoping project proposals into an issue-based system as well. As a part of that, I'd like to refactor the labels a bit to help distinguish between the two.

So the main labelset should be a `type:` label with options of either `contribution issue` or `project proposal`

### For `contribution issue` types

* Keep the `multiple`

[2022-10-05 15:01] sgibson91 opened #44 "Create issue templates for the repo"
Create two lightweight issue templates for the types of issue we open in this repo:

* contribution issues/microtasks
  * #135
* project proposals
  * https://github.com/jupyterhub/outreachy/pull/178

Use #43 to determine some default labels

[2022-10-05 15:31] sgibson91 opened #45 "Create a documentation site for our Outreachy workflows, powered by ReadTheDocs"
Many communities participating in Outreachy (or GSoC, or similar) have their own set of documentation detailing their own processes for participation in these initiatives, and the expectations for everyone involved. We should build something similar so that it is more repeatable for JupyterHub to participate in the future.

There is already a bunch of great resources like this already so, cruciall

[2022-10-05 16:44] sgibson91 commented on #45
Capturing ideas from Slack with @GeorgianaElena:

* intern testimonials: motivation to do Outreachy with us!
* intern blogs: centralise links to blogs the interns write, either on Jupyter blog or their own
* maybe an Outreachy team on the JupyterHub page

[2022-10-05 16:47] sgibson91 opened #46 "Create issue-based workflow for scoping project proposals"
Previously in this repo, project proposals were committed as files. I would like to move to an issue-based workflow instead for two reasons: using issue labels to track the state of the project proposals, and auto-generating a table of projects for quick discovery in documentation.

I realise that this might lose some of the benefit of a PR review for tweaking project descriptions etc. However for

[2022-10-08 18:03] brendamoreira commented on #38
Hi, I'm Brenda, an outreachy applicant. Can I work on this one? (:

[2022-10-08 18:35] Uzor13 commented on #38
Hi, I'm Precious an outreachy applicant, can I work on the accessibility for [ipython.org](http://ipython.org/)?

[2022-10-08 19:02] ydv-sahitya commented on #41
quick question: Do all the Docs pages link in the spreadsheet, those docs need an update, or what do we have to improve?

[2022-10-08 21:16] mahamtariq58 commented on #38
Hi! I am Maham Tariq . I would like to evaluate [jupyter.org](http://jupyter.org/) using WAVE ..

[2022-10-08 21:37] mahamtariq58 commented on #41
I would like to work on this issue!!

[2022-10-09 00:39] Uzor13 commented on #38
# [IPython's](https://ipython.org/) Home Page
<img width="360"  alt="WAVE summary for ipython" src="https://user-images.githubusercontent.com/40992425/194732042-6f20af14-205a-4440-a688-747b666fe3f9.png">

- Language missing or invalid (error):  adding a lang attribute set to the language used in the HTML element if a single language is being used or in the tags of the element where another languag

[2022-10-09 08:09] sgibson91 commented on #41
Each link is a singular docs page. Just choose one of them to improve, whichever you think you can provide a contribution to. We worked it like this so multiple Outreachy applicants can work on this issue simultaneously.

[2022-10-09 09:45] Annosha commented on #37
Hi @sgibson91 I want to go ahead with [Administrator's Guide](https://jupyterhub.readthedocs.io/en/stable/index-admin.html) and categorize into respective diataxis framework. Once done I'll post it here in the comments section. Thank you.

[2022-10-09 10:34] ydv-sahitya commented on #41
thank you

[2022-10-09 12:22] damli40 commented on #38
hi, can i work on this issue

[2022-10-09 12:48] bl-aire commented on #38
Hello,

My name is Ogoh Blessing and I would love to work on [Binder](https://mybinder.org).

On accessing the page using WAVE, I took note of the following parts that can be improved to ensure users with special needs have a better experience:

![image](https://user-images.githubusercontent.com/84882370/194757022-3f2ddf48-354b-4559-9db5-330ea8f2500c.png)

- Missing alt text: the alt attribute of

[2022-10-09 13:19] damli40 commented on #38
![accessibility](https://user-images.githubusercontent.com/57798516/194757034-008909ec-c6af-4182-97ba-735792c2db81.png)
![accessibility2](https://user-images.githubusercontent.com/57798516/194757035-cb17a6cf-fa7c-4b77-8f3b-ad5e371d696f.png)

I evaluated the accessibilty of http://mybinder.org/ and http://ipython.org/ using the WAVE tool that was recommnded by the mentor, here are the issues and ho

[2022-10-09 14:55] zeelyha commented on #37
Hi @sgibson91. I want to get started on the API Reference sub-section. I will keep you updated on my progress. Thank you.

[2022-10-09 15:03] NPDebs commented on #41
Hi Dr @sgibson91. I'd love to work on this issue, please! 🙂

[2022-10-09 15:20] Dapper50 commented on #38
![Screen Shot 2022-10-09 at 15 41 38](https://user-images.githubusercontent.com/94048274/194763099-adc2dc4e-1279-45b7-bc48-e7efb597266c.png)

Jupyter Homepage:

1. Contrast Errors: It means very low contrast between text and background colors, as adequate contrast of text is necessary for all users, especially users with low vision.
       It can be fixed by Increasong the contrast between the for

[2022-10-09 17:27] zeelyha commented on #37
@sgibson91 When answering the questions you listed, does 'documentation' refer to the entire documentation or just the section we're working on?

[2022-10-09 18:51] SheilaKahwai commented on #39
@GeorgianaElena @sgibson91 @minrk I am interested in working on this issue. I am looking into it.

[2022-10-09 18:51] M0Hassan commented on #37
Hi @sgibson91, I would like to proceed with the Installation Guide sub-section. I will post my findings here once I finish. Regards.

[2022-10-09 18:54] Sheila-nk commented on #39
@GeorgianaElena @sgibson91 @minrk Hello, my name is Sheila and I am interested in working on this issue. I am looking into it.

[2022-10-09 18:56] zeelyha commented on #40
@GeorgianaElena I would like to work on this task. I will update you on my progress as I go along and submit the link when I'm done.

[2022-10-09 19:45] Mackenzie-OO7 commented on #38
# Suggestions for improving IPython's website

![ScreenShot_10_9_2022_8_40_21_PM](https://user-images.githubusercontent.com/97461848/194776420-6a37c5fc-b2f9-427d-8010-f0c97b6abbc9.png)

I evaluated the [ipython.org](http://ipython.org/)'s website using the WAVE tool as instructed. Below are the changes I suggest can be made to improve accessibility for users:

1. The language of the document, whic

[2022-10-09 20:36] Annosha commented on #37
@sgibson91 here is the link to [miro](https://miro.com/app/board/uXjVPPKuq7w=/?share_link_id=215640131369) categorizing contents of this page into diataxis framework.

### Brief Summary:
**Troubleshooting**: Overall this section lacks the format of **How to Guides** i.e. answering the questions in **steps**. Additionally, it needs to be more concrete i.e certain topics can be rewritten e.g. [Error

[2022-10-09 22:48] mahamtariq58 commented on #38
- [x] Familiarity with the basics of [web accessibility](https://www.w3.org/WAI/fundamentals/accessibility-intro/)
- [x] Installation of [WAVE](https://wave.webaim.org/) Extension
- [x] WAVE Evaluation of [jupyter.org](http://jupyter.org/) page
![Screenshot from 2022-10-10 03-17-04](https://user-images.githubusercontent.com/11984160/194783042-4b637421-07b4-483a-bd53-e2af817d3c70.png)

[2022-10-10 00:50] audrey2001 commented on #39
Hi @sgibson91 , My name is Akaeze Kosiso and i would love to work on this

[2022-10-10 07:07] Hauwarh commented on #37
Hi @sgibson91
My name is Hauwa an outreachy applicant. I would like to get started with the contributing page.

[2022-10-10 07:09] Hauwarh commented on #37
I think @sgibson91 is referring to particular section you choose to work on.

[2022-10-10 07:39] ToobaJamal commented on #41
Hi @sgibson91, which branch should I choose for comparing the changes? Thanks!

[2022-10-10 07:58] Lilianada commented on #38
![jupyter org_governance_intro html](https://user-images.githubusercontent.com/81332384/194792280-34f65b8c-41af-4859-b3d8-54673ac0c5ec.png)

I evaluated the [Jupyter.org governance page ](http://jupyter.org/governance/intro.html) using the WAVE tool as instructed and found 9 errors which will be listed below with possible solutions. Some of the errors were duplicated with different components.

1.

[2022-10-10 08:18] Mackenzie-OO7 commented on #41
I'm having trouble committing the changes suggested to my PR. When I hover on the "Add Suggestions to batch" button, it says "batching suggestions must be done from the files tab". Is there another way I can incorporate all the changes into a single commit instead of applying the changes individually?

[2022-10-10 08:59] minrk commented on #38
Thanks for the contributions, everyone! I added a [spreadsheet](https://docs.google.com/spreadsheets/d/1RjxERA3ux7k-rbUT_sej9eAlcgTA6BhivRPJB9CG33o/edit) where you can claim a page to work on. Pick a page from the list. If there's a page you'd like to look at that's not on the list, feel free to post here and we can add it.

[2022-10-10 09:01] minrk commented on #41
@Mackenzie-OO7 yes, if you select the "Files changed tab" here:
![Screen Shot 2022-10-10 at 11 00 16](https://user-images.githubusercontent.com/151929/194831463-ccd445e0-0290-4dba-89fd-55cc9da6fa57.png)

you will be able to bundle all of the suggestions into one commit

[2022-10-10 09:32] bl-aire commented on #38
Hello @minrk

On the spreadsheet, my username is on the column that says done. What am I to do next please? And since I have shown interest in mybinder.org page, would I be working on the repository for the project?

[2022-10-10 09:42] Mackenzie-OO7 commented on #41
It worked! Thank you.

[2022-10-10 09:54] consideRatio commented on #24
With https://github.com/jupyterhub/jupyterhub/issues/2032 closed, I figure  we can close this as well as resolved.

[2022-10-10 09:54] #24 closed

[2022-10-10 09:55] zeelyha commented on #37
Alright, Thank you Hauwarh

[2022-10-10 09:57] consideRatio commented on #9
While the description is outdated @minrk, the issue seems relevant still. Right?

See https://github.com/jupyterhub/jupyterhub-idle-culler/blob/main/jupyterhub_idle_culler/__init__.py

[2022-10-10 10:49] zeelyha commented on #37
@sgibson91 Here is the [link](https://miro.com/app/board/uXjVPPVGekw=/?share_link_id=293113760784) to the Miro board mapping the contents of the API Reference subsection using the Diataxis framework.

**Observations and Suggestions:**
From the mapping, it is clear that there is uniformity in this section in terms of categorization. Each page gives a technical description of the machinery as expect

[2022-10-10 10:59] Uzor13 commented on #38
## Jupyter's Community page
<img width="360"  alt="Screenshot 2022-10-10 at 11 42 31 AM" src="https://user-images.githubusercontent.com/40992425/194848594-536faaba-7f99-46b5-94c9-d68063ee9851.png">
- No errors :) 👍🏾

-  Contrast errors: The view buttons have contrast issues because the text has a lesser ratio than the background colour due to its size. Increasing the text size or decreasing the br

[2022-10-10 11:10] Bhaybhiisparks commented on #38
Thanks @minrk

[2022-10-10 11:17] falyne commented on #37
![JupyterHub](https://user-images.githubusercontent.com/19360782/194852654-2fb64ffd-2dd0-4b2a-bccf-e000b4c0bf73.png)
Hi @sgibson91 This is a screenshot of the miro board mapping of the
Administrator's Guide using the Diaxtaris framework

The documentation is divided into documentation quadrant but not properly outlined and separated. Some sub sections have a mix of various documentation quadrant.

[2022-10-10 11:25] minrk commented on #38
@bl-aire you are free to work on more detailed suggestions for the mybinder.org page. If you like, you can make suggestions.

@bl-aire you are free to work on more detailed suggestions for the mybinder.org page. If you have specific HTML changes, you can make suggestions in the binderhub repo. The HTML templates are [here](https://github.com/jupyterhub/binderhub/tree/HEAD/binderhub/templates).

Th

[2022-10-10 11:32] ChiomaNwosisi commented on #38
HI My name is Chioma cani i work on the accessibility of mybinder.org

[2022-10-10 11:33] bl-aire commented on #38
Okay.

Thanks for guiding me.

[2022-10-10 11:34] Ibom99 commented on #38
![Screenshot (212)](https://user-images.githubusercontent.com/104465078/194846540-71188a7d-e713-4b14-ab8d-21f75bab0178.png)
![Screenshot (213)](https://user-images.githubusercontent.com/104465078/194853051-c5db6e16-698d-4d3a-9b9e-a4fe7ddd709a.png)

After I evaluated the https://docs.jupyter.org/en/latest/install.html page using the WAVE browser extension as instructed by the mentor.
Here are some

[2022-10-10 11:44] Ibom99 commented on #38
I'll like to be assigned to this page https://docs.jupyter.org/en/latest/install.html and it's not on the spreadsheet. I have ran WAVE on it and evaluated its accessibility and added my suggestions. I'll love for it to be added to the spreadsheet please.

[2022-10-10 11:46] Ibom99 commented on #38
I'll like to be assigned to this page https://docs.jupyter.org/en/latest/install.html and it's not on the spreadsheet. I have ran WAVE on it and evaluated its accessibility and added my suggestions. I'll love for it to be added to the spreadsheet please.

[2022-10-10 11:47] Uzor13 commented on #40
Hi @GeorgianaElena so I'm trying to install the plugin as a pip package but it's not on PyPI, is that way to install the plugin?

[2022-10-10 11:59] Mackenzie-OO7 commented on #38
@minrk I'd like to test the JupyterHub pages. Can you guide me on how to install JupyterHub locally?

[2022-10-10 12:01] FaithKovi commented on #38
@minrk I will like to evaluate jupyter.org pages

[2022-10-10 12:02] brendamoreira commented on #38
@minrk I'm working on the JupyterHub /about page. How to install it locally? :)

[2022-10-10 12:15] Olaedey commented on #38
Thanks @minrk

[2022-10-10 12:26] mahamtariq58 commented on #38
@Mackenzie-OO7 @brendamoreira
There is a installation guide in JupyterHub docs [Jupyterhub setup locally](https://jupyterhub.readthedocs.io/en/latest/contributing/setup.html) ..Hope this will help :slightly_smiling_face:

[2022-10-10 12:45] M0Hassan commented on #37
Hi @sgibson91, here is the [link](https://miro.com/app/board/uXjVPPaof0I=/?share_link_id=31657363783) to the Miro board where i have mapped the Installation section using the Diataxis framework.

### Observations and Suggestions

From the mapping, I have gathered that there is largely a balance in regards with the placement of the sub-sections within the diataxis framework.

The **Using Docker** s

[2022-10-10 12:54] Mackenzie-OO7 commented on #38
Thanks!

[2022-10-10 13:12] damli40 commented on #38
![accessibility3](https://user-images.githubusercontent.com/57798516/194871103-50f319ef-ffe5-410e-9e58-a98e2cea9e66.png)
I ran an accessibilty test on https://ipython.org/ipython-doc/stable/interactive/reference.html using the WAVE tool and here are my observations and possible solutions:

- The form is missing form labels. This can be fixed by adding a `<label></label>` describing the input.
- Th

[2022-10-10 13:42] Joel-Ando commented on #38
Hi! every one,
 I am Joel Ando an Outreachy applicant contributing to the JupyterHub web Accessiblity
As instructed above by mentor MINRK using the WAVE TOOL to Analyze Web Accessibility.
Below are the results and possible solutions on IPYTHON.org project

![ipython](https://user-images.githubusercontent.com/81184842/194846243-e3879ea3-6890-4248-b5f4-4ef69bdd5802.JPG)

1 **LANGUAGE MISSING OR UNID

[2022-10-10 14:06] ArafatAbdussalam commented on #37
Hello @sgibson91 I

Is the mapping of the sub-sections based on the current documentation or the proposed solution to the documentation?
![Screenshot 2022-10-10 150135](https://user-images.githubusercontent.com/92020171/194884039-a4e16b85-578f-4017-a8f2-f00b75e4865e.jpg)

Question: What does the mapping tell you about the current state of our documentation?
Answer: Having gone through the JupyterH

[2022-10-10 14:36] M0Hassan commented on #38
![Wave_Evaluation](https://user-images.githubusercontent.com/71543450/194889380-cad145ac-fd44-4125-91d1-6b4e79a9dc1e.PNG)

I evaluated the [Ipython Interactive Computing](https://ipython.org/ipython-doc/stable/index.html) page using the Wave tool to determine its accessibility. The following are my findings;

1. The page has a text form that does not have a corresponding form label. This can easil

[2022-10-10 15:01] Olaedey commented on #38
![Screenshot 10-10-2022 13 49 46](https://user-images.githubusercontent.com/93148657/194893518-0b614411-b77f-4059-b60f-3333b7f1054f.png)

Having evaluating https://ipython.org/project.html with WAVE accessibility tester, the following are the issues that need to be fixed and the suggestions to fixed them.

**1. Language missing or invalid (1):** The language of the document is not identified or a

[2022-10-10 15:28] BenedictaUche commented on #38
![ipython contribution](https://user-images.githubusercontent.com/99043217/194874987-1dfcf353-74e2-4bb7-bec1-93a79200c353.png)

After carrying out an accessibility test on [Installing Ipython page](https://ipython.org/download.html), these are my observations and solutions:

- **Language missing or invalid**: The page's natural language definition is missing due to the absence of the language prop

[2022-10-10 15:48] AdrianaHelga commented on #37
Hello @sgibson91. Here is a [link](https://miro.com/app/board/uXjVPPVkvVA=/) to the diataxis framework for [Getting Started](https://jupyterhub.readthedocs.io/en/stable/getting-started/index.html) subsection of the documentation.
**My Findings:**
Since the majority of this documentation subsection explains how to start using JupyterHub, it would be good to restructure each part into a **How to Gui

[2022-10-10 15:55] sgibson91 commented on #41
`main`/`master` please (I forget the exact name of it! 😆 )

[2022-10-10 16:11] Uzor13 commented on #40
It worked, thanks

[2022-10-10 16:11] brendamoreira commented on #38
## [Jupyter About Page](https://jupyter.org/about)
<img width="1440" alt="Screenshot 2022-10-10 at 15 06 41" src="https://user-images.githubusercontent.com/62898120/194873479-d6208f78-de95-43bd-a577-afdec3380190.png">

1. There are 3 contrast errors in the Donate section of the page, due to the dark background and dark font color. To change that you can change either, or both colours. The first tw

[2022-10-10 16:21] Temidayo32 commented on #37
@sgibson91 what do you mean by "<3"?

[2022-10-10 16:26] Olaedey commented on #38
Hello, I am to work on https://ipython.org/project.html. I will like to be shown to the repository to the project in order to start working on it? Thanks.

[2022-10-10 16:27] sgibson91 commented on #37
Sorry, it is a symbolic representation of a heart indicating that I love all the great work that has been happening in this thread! I mistakenly thought that GitHub would transform it into the emoji version: ❤️

[2022-10-10 16:36] BenedictaUche commented on #38
![ipython contribution](https://user-images.githubusercontent.com/99043217/194874987-1dfcf353-74e2-4bb7-bec1-93a79200c353.png)
#41

After carrying out an accessibility test on [Installing Ipython page](https://ipython.org/download.html), these are my observations and solutions:

- **Language missing or invalid**: The page's natural language definition is missing due to the absence of the language

[2022-10-10 16:39] Jaykold commented on #37
Hi @sgibson91, here is a [Link](https://miro.com/app/board/uXjVPPU0MP0=/?share_link_id=942277119806) to Miro showing my categorization for **Administrator's guide** using the Diataxis framework.

a. From my mapping, the documentation is not suitably structured to follow the Diataxis framework. There is a mix of both **Tutorial** and **How-to guides** in both **Upgrading JupyterHub** and **Troubles

[2022-10-10 19:19] Joel-Ando commented on #37
Hi! Mrs sgibson91 i hope projects will not be close for further contribution. some of us are still behind... haha!!

[2022-10-10 19:21] sgibson91 commented on #37
No, not yet :)

[2022-10-10 19:45] Joel-Ando commented on #37
Mrs sgibson91 for setting up the environment to run jupyterhub documentation can we use other linux distros or only ubuntu.

[2022-10-10 19:54] Bhaybhiisparks commented on #38
<img width="283" alt="WAVE books" src="https://user-images.githubusercontent.com/86384288/194941864-9f74c71e-160b-4db1-a516-38ebc0aa6a78.png">
<img width="959" alt="WAVE books2" src="https://user-images.githubusercontent.com/86384288/194941883-beb07e12-2b8b-49ae-8a00-7fc932372cb9.png">

I evaluated the accessibility of https://ipython.org/books.html using the WAVE tool as recommended by the MENTOR

[2022-10-10 20:01] sgibson91 commented on #37
@Joel-Ando You do not need a local instance of JupyterHub running to contribute to this issue since it is focussed on the documentation

[2022-10-10 20:14] Christiandike commented on #37
![20221010_204803](https://user-images.githubusercontent.com/87627338/194943216-7e0ccfae-d0ae-40f8-aaea-b764f7912753.png)

The attached photograph contains diataxis framework mapping for the [Technical Reference](https://jupyterhub.readthedocs.io/en/stable/reference/index.html#technical-reference) section.

**Answers to the Questions**

**a. What does the mapping tell you about the current state o

[2022-10-10 20:46] Gospeland commented on #38
![wave webaim org-WAVEReportofSupportIPythonDevelopment—IPython](https://user-images.githubusercontent.com/109815085/194949428-322da738-4324-45b9-8f7e-0ea20b45e613.jpeg)

I would like to work on this page: https://ipython.org/donate.html. The text contrast error is something I can resolve. I think that a color like black would be good there. Though black sounds common but it sure would be perfect

[2022-10-10 20:54] Joel-Ando commented on #37
thanks you.

[2022-10-10 20:55] Uzor13 commented on #40
@GeorgianaElena this is the link to my [firstuseauthenticator](https://github.com/jupyterhub/firstuseauthenticator) fork: https://github.com/Uzor13/firstuseauthenticator
I made an assertion regarding the length of the given password and the min length and also used the test provided above

[2022-10-10 21:07] OluwatuyiAbiola commented on #38
## [ipython Presentation Page](https://ipython.org/presentation.html)
###Screenshots
![ipython](https://user-images.githubusercontent.com/105749850/194952304-9f797143-5bf5-431e-b5c5-ab14613d6662.png)

#### Evaluation
1. **Language missing or invalid:** The language of the document is not identified or a lang attribute value is invalid.
         **Suggestion:** Identify the document language using

[2022-10-10 21:46] james95-developer commented on #38
![Capture](https://user-images.githubusercontent.com/97939107/194951693-ebe96a3f-bc3f-4d10-b446-830cbece77ea.PNG)
https://jupyter.org/install
1.Very low contrast between texts and background colors which fail to meet Web Content Accessibility requirement making it difficult for people with disabilities to view the content clearly.
**Suggestions**
Increase the contrast between the foreground (text)

[2022-10-10 21:59] zeelyha commented on #40
@GeorgianaElena Hi Georgiana, so I'm sort of new to pytest so it's taking me a little while to complete the task. I have created the pytest plugin project and added it to the repository and I'm currently working on the fixture.
Just thought to give you an update.
Thank you.

[2022-10-10 22:02] Ibom99 commented on #38
![Screenshot (218)](https://user-images.githubusercontent.com/104465078/194951511-24284d1d-1685-430d-861a-bbc464e87847.png)
![Screenshot (219)](https://user-images.githubusercontent.com/104465078/194951990-6ab69036-1d39-4839-94a8-d399bc4e2644.png)

I ran WAVE on https://ipython.org/usersurvey2011.html, these are the web accessibility evaluation reports and my suggestions to improves its accessibil

[2022-10-10 22:12] Teniola-theDev commented on #41
Hello! I would love to work on this issue:
https://github.com/jupyterhub/jupyterhub/blob/main/docs/source/reference/spawners.md
I am assuming I would need to mention the link to the doc page I would love to work on, here in GitHub, in order to be assigned to it.

[2022-10-11 07:15] melissakirabo commented on #41
Hi,
I am from Outreachy and I have made some changes to, and updated the index.rst file
https://github.com/jupyterhub/jupyterhub/pull/4084

[2022-10-11 09:21] zeelyha commented on #38
![Screenshot (20)](https://user-images.githubusercontent.com/73789529/195050525-cdb34628-5c67-48e0-800f-b813e92c829b.png)

The WAVE Evaluation of the JupyterHub Governance Page

Suggestions:

Empty form label: The <label> element  associated with the form should contain text to present information about the form control to the user. E.g `<label for="html">HTML</label><br>`

Multiple form labels: T

[2022-10-11 09:59] Bhaybhiisparks commented on #38
<img width="366" alt="WAVE governance" src="https://user-images.githubusercontent.com/86384288/195059934-6bf83bad-fe30-4767-b4ec-cda96102fdc7.png">
<img width="949" alt="Wave governance 2" src="https://user-images.githubusercontent.com/86384288/195059961-9199021a-361b-4370-aab0-af3aa909170e.png">

I evaluated the accessibility of https://jupyter.org/governance/decision_making.html using the WAVE t

[2022-10-11 10:11] luquiceno commented on #38
**jupyter.org -> https://jupyter.org/governance/conduct/reporting_online.html**

![accessibility_ReportingOnlinePage](https://user-images.githubusercontent.com/103491565/195057736-df2676b5-6e5a-4418-b3d8-713efa33905e.png)

**THE RESULT OF THE EVALUATION USING "WAVE TOOL".**

**Language of the page**: This page doesn’t contain the "lang" attribute in the <html> element. This attribute allows to ide

[2022-10-11 10:39] melissakirabo commented on #37
**a. What does the mapping tell you about the current state of our documentation?**
It mostly consists of How-to-Guides, therefore, it is a predominantly task oriented section.
The How-to-Guides clearly state the prerequisites needed in each section, which mitigates the possibilities of getting errors during the installation process.

**b. Where would you create more documentation to help a user o

[2022-10-11 10:47] Achele commented on #37
Hi @sgibson91 , here is my [Link](https://miro.com/app/board/uXjVPOqueG8=/?share_link_id=610951285372) to Miro showing my categorization for Administratio's guide section using the Diataxis framework.

Summarily, the mapping shows that  the administration's guide section though divided into the different documentation mode, does not have a clear distinction  amongst them, as some subsections  had

[2022-10-11 11:48] zeelyha commented on #38
@minrk
![Screenshot (21)](https://user-images.githubusercontent.com/73789529/195081439-e99faf33-3392-43da-91a9-adf03a94eccc.png)

The WAVE Evaluation of the JupyterHub Reporting Guide Page

Suggestions:

Empty form label: The <label> element  associated with the form should contain text to present information about the form control to the user. E.g `<label for="html">HTML</label>`

Multiple form l

[2022-10-11 11:48] kerylefondji commented on #38
Hi everyone, am an outreachy applicant
![1](https://user-images.githubusercontent.com/43968188/195076671-a42e2b93-6d04-4e4a-a59c-246a49dfd724.PNG)
I evaluated the page https://ipython.org/index.html and these was my observations and suggestion:

-  The language of the document is not identified :  The attrubute `<html lang="en"> ` has to be included in the code inorder for the screen readers to re

[2022-10-11 12:09] uyiehiabhi commented on #38
![Snip1](https://user-images.githubusercontent.com/115546573/195085686-4856f4dd-dd58-4703-8c9b-61b83f4eb918.png)

I evaluated the accessibility of the website ipython.org using the WAVE tool and made some suggestions as required.

1. The language on the website is not identified or the language identifier is not valid. An identified language makes translation of content by the viewers easy especia

[2022-10-11 12:24] victorvictoria-maker commented on #37
Hello, team and mentors - @sgibson91, @minrk and @GeorgianaElena.
Here is the [LINK](https://miro.com/app/board/uXjVPOs3Xjw=/?share_link_id=380568438214) to miro showing my grouping of the Installation, Get started and Technical subset of Jupyter's documentation using  Diataxis framework.

**Answers to questions**
1.  What does the mapping tell you about the current state of our documentation?

[2022-10-11 12:43] Maryann-01 commented on #38
Hello everyone ,I am Amaraizu Mmesoma Maryann and I worked on Binder(http://mybinder.org/) homepage using the WAVE tool and I noticed the following:
![Screenshot (59)](https://user-images.githubusercontent.com/89715739/195088849-94b633d2-bcbb-4ebc-8c48-c8b062ab5f8e.png)

1. Absence of the html language attribute(<html lang="en"></html>)
Suggestion:I suggest that the language attribute be included

[2022-10-11 13:02] #1 closed

[2022-10-11 13:03] sgibson91 commented on #21
I am closing this issue as it pertains to a previous round out Outreachy.

[2022-10-11 13:03] #21 closed

[2022-10-11 13:03] sgibson91 commented on #22
Thanks for your contributions! I am closing this issue now as it pertains to a previous round out Outreachy.

[2022-10-11 13:04] #22 closed

[2022-10-11 13:04] sgibson91 commented on #25
Thanks for your contributions! I am closing this issue now as it pertains to a previous round out Outreachy.

[2022-10-11 13:04] #25 closed

[2022-10-11 13:06] sgibson91 commented on #6
Thank you for your contributions! I am closing this issue now as it pertains to a previous round of Outreachy.

[2022-10-11 13:08] #31 closed

[2022-10-11 13:08] sgibson91 commented on #30
Thanks for your contributions! I am closing this issue now as it pertains to a previous round of Outreachy.

[2022-10-11 13:08] #30 closed

[2022-10-11 13:08] sgibson91 commented on #23
Thank you for your contributions! I am closing this issue now as it pertains to a previous round of Outreachy.

[2022-10-11 13:09] #23 closed

[2022-10-11 13:09] sgibson91 commented on #8
Thank you for your contributions! I am closing this issue now as it pertains to a previous round of Outreachy.

[2022-10-11 13:09] #8 closed

[2022-10-11 13:11] Abolade017 commented on #38
My name is Adeola Tawakalitu Adenike. After accessing the `jupyter.org` website with WAVE tool, the evaluation to the website accessibility is the image below:

![jupytercon page](https://user-images.githubusercontent.com/70269933/195077971-eac08b3b-0d7d-4c29-ad6b-4872067e8a25.JPG)

The following is the detailed evaluation done on the website accessibility:

-  **Contrast error (7) :** There is a

[2022-10-11 13:33] minrk commented on #9
@consideRatio that's true!

[2022-10-11 13:36] ToobaJamal commented on #41
@sgibson91 I have made a PR, please check it out :)
https://github.com/jupyterhub/jupyterhub/pull/4074

[2022-10-11 13:41] james95-developer commented on #38
![enforcement1](https://user-images.githubusercontent.com/97939107/195097410-5533220d-79fd-4199-b60a-6a8fa98fd8a1.PNG)
1. Empty form label
A form label is present, but does not contain any content therefore, it will not present any information about the form control to the user.
**Suggestion**
Ensure that the form label contains text that describes the function of the associated form control. Labe

[2022-10-11 14:08] Olaedey commented on #38
![Screenshot 10-11-2022 13 42 22](https://user-images.githubusercontent.com/93148657/195103979-80732744-bf7a-466d-8830-36a9824dc4e2.png)

I evaluated https://ipython.org/pyreadline.html using WAVE accessibility testing tool. The followings were the issues encountered and the suggestions to fix them.

1. **Errors (1)**
**Language missing or invalid:** The language of the document is not identified

[2022-10-11 14:09] Abolade017 commented on #38
I accessed the [https://jupyter.org/try](url) page, the evaluation done is below:

![try jupyter](https://user-images.githubusercontent.com/70269933/195108866-460e2aaf-9c46-434b-8be6-2673dc3d3142.JPG)

### **Evalutaion**

- **Alternative text (1) :** Alternative text presents the content or function of an image to screen reader users or in other situations where images cannot be seen or are unavai

[2022-10-11 14:39] Motunrayo321 commented on #40
Hello Georgina @GeorgianaElena, I would like to work on this task. I have a computer with windows 10 so I'm trying to run Ubuntu in VirtualBox VM but it keeps aborting. Can I proceed with this task before installing Jupterhub? Also, I would appreciate help with the aborting ubuntu issue.

[2022-10-11 14:45] Ibom99 commented on #38
![Screenshot (225)](https://user-images.githubusercontent.com/104465078/195106715-3e58f7fa-5675-4043-96e8-1c04d3be5801.png)
I evaluate https://jupyter.org/widgets and these are my suggestions to improve it's accessibility
### Evaluation:

1. **Contrast Errors: Very Low Contrast:** There's very low contrast between the text and it's background. This is a problem for low vision user. **Suggestion:**

[2022-10-11 14:54] Abolade017 commented on #38
i accessed [https://jupyter.org/community](url) page. The following below is the evaluation:

![jupytercommunity](https://user-images.githubusercontent.com/70269933/195116665-2f6ec76b-895c-4c1d-a61a-02741dc46ae3.JPG)

### **Evaluation**

- **Contrast error (9) :** Very low contrast between text and background colors. Adequate contrast of text is necessary for all users, especially users with low v

[2022-10-11 16:10] sgibson91 commented on #41
Hi @Teniola-theDev. We are using [this spreadsheet](https://docs.google.com/spreadsheets/d/1P_zlCToXJg5yAPq9nfyOmCb3PwmD4cbfcdnNyiJdsiY/edit?usp=sharing) to track who is working on which page.

[2022-10-11 17:07] luquiceno commented on #37
Hi @sgibson91 here is my screenshot for the section [API Reference](https://jupyterhub.readthedocs.io/en/stable/api/index.html) using the systematic Diataxis framework.

![API-Reference](https://user-images.githubusercontent.com/103491565/195147478-dfbf3cf9-314c-4fcb-9d67-82ab5a1ebbce.png)

**A. What does the mapping tell you about the current state of our documentation?**
Analyzing the current st

[2022-10-11 17:27] damli40 commented on #38
![a4](https://user-images.githubusercontent.com/57798516/195156862-66c0d452-f7b2-4a07-a11e-7875e15c7366.png)
I evaluated the accessibilty of https://jupyter.org/governance/list_of_standing_committees_and_working_groups.html

here are the issues and my solutions:

- A form label is present, but does not contain any content. This can be fixed by adding a label text that describes the function to be

[2022-10-11 17:56] Maryann-01 commented on #38
@minrk ,please I am confused. Are we to work on any of the three links you posted  or on the links posted in spreadsheet?
I took a screenshot for better understanding of my question .Are we to work on any of the links marked with blue or the links in the spreadsheet marked with red?

![Screenshot (63)_LI](https://user-images.githubusercontent.com/89715739/195164884-0ea64b1e-57eb-4025-81ab-bdfb252a

[2022-10-11 18:37] damli40 commented on #38
@minrk I made my first PR on the binder hub page, can you check it out ?

[2022-10-11 18:38] damli40 commented on #38
You can work on any of the 3 links, Just make sure to update it on the spreadsheet, there are also more links on the spreadsheet...you can work on those too.

[2022-10-11 18:41] bumblebib commented on #38
The page I chose for evaluation was the [Microsoft Corporation sponsors IPython](https://ipython.org/microsoft-donation-2013.html)

![image](https://user-images.githubusercontent.com/90845861/195164315-bcc5f94a-b00a-47f5-b935-00ec4e215ba4.png)

### Evaluation:

**1. Overall accessibility:**
The page doesn't offer a responsible layout for those accessing the website from a Mobile device. The overal

[2022-10-11 18:44] bl-aire commented on #38
Hi,
Please I need clarification. Are we to work on the pages now and create PRs?

@sgibson91 mentioned work is to be done on them during the internship so I'm a bit confused.

[2022-10-11 18:56] bl-aire commented on #38
Okay.Thank you
I remember seeing that on Gitter.

[2022-10-11 19:12] Divine-peace commented on #38
![Screenshot from 2022-10-11 11-08-44](https://user-images.githubusercontent.com/103381382/195178472-f8c09bbe-8b06-4322-98f6-9ed9ee684cb2.png)

[2022-10-11 19:56] sgibson91 commented on #38
@bl-aire This issue should be worked on now. I meant that the issue you specifically opened in the jupyterhub repo regarding creating a developers guide for testing accessibility was more like the work we want to do during the internship as it was quite advanced. If we did that level of work during the contribution period, we wouldn't need to take on an intern!

[2022-10-11 19:59] bl-aire commented on #38
Okay.

I get it now. Thank you

[2022-10-11 20:03] #42 closed

[2022-10-11 20:14] ArafatAbdussalam commented on #41
Hi @sgibson91 https://github.com/jupyterhub/jupyterhub/pull/4086

[2022-10-11 21:44] james95-developer commented on #38
jupyter.org>https://jupyter.org/governance/conduct/code_of_conduct.html
![conduct_html](https://user-images.githubusercontent.com/97939107/195202790-550e822a-dcf1-466d-bb06-9a75e79b4335.PNG)
1.Multiple form labels
A form control has more than one label associated with it. A form control should have at most one associated label element. If more than one label element is associated to the control, a

[2022-10-11 22:23] Joel-Ando commented on #38
Please! Mrs @sgibson91 are we to use only wave to evaluate accessibility of Jupyter pages or we can span to other ways

[2022-10-11 22:23] Motunrayo321 commented on #40
Hi Georgina @GeorgianaElena, I've started working on it. I've been able to create the plugin project and the fixture already. I'll be installing it next now.

[2022-10-11 23:32] Joel-Ando commented on #41
Hi!
 Please how do we add a link when editing a document. Need help please!!!

[2022-10-12 02:31] Dev-Liz commented on #38
## 1.  Evaluating the accessibility of https://ipython.org/sloan-grant.html

![ipython-sloan-grant](https://user-images.githubusercontent.com/40176275/195226004-0ec94ff5-35e7-4985-acf9-58b1e73a536f.png)

### 1 Error (Language missing or invalid):
  This error requires that a **lang** attribute should be added to the `<html>` tag, to declare the language of the webpage.

### 27 Contrast Errors (Ver

[2022-10-12 02:32] Dev-Liz commented on #38
## 2.  Evaluating the accessibility of https://jupyter.org/governance/distinguished_contributors.html

![Distinguished contributors](https://user-images.githubusercontent.com/40176275/195233473-8d8f0e00-013a-4cf1-878e-a49f73e2630a.png)

### 9 Errors:

-  **5 empty form labels:** Label should be used to display input contents and not icons. The `<label>` tag used to wrap the `<i>` tag, should be re

[2022-10-12 02:32] Dev-Liz commented on #38
## 3.  Evaluating the accessibility of https://ipython.org/whatsnew083.html
![Whatsnew](https://user-images.githubusercontent.com/40176275/195228463-8b5f896c-26ed-4e66-82e1-a53134aa77c7.png)

### 1 Error (Language missing or invalid):
  This error requires that a **lang** attribute should be added to the `<html>` tag, to declare the language of the webpage.

### 22 Contrast Errors (Very low contra

[2022-10-12 03:15] falyne commented on #38
![newssubprojects](https://user-images.githubusercontent.com/19360782/195241530-ddca83a1-46bb-4d33-b941-e3bf1f777335.png)

https://jupyter.org/governance/newsubprojects.html
**Evaluation**

-5 Empty form label errors because the search input and the search button have a label associated with them but contain no content.
To improve accessibility we need to  Ensure that the form label contains text

[2022-10-12 03:33] Mackenzie-OO7 commented on #41
Hey, This [markdown guide](https://www.markdownguide.org/cheat-sheet/) should help you with that.

[2022-10-12 06:29] Divine-peace commented on #38
![Screenshot from 2022-10-11 11-08-44](https://user-images.githubusercontent.com/103381382/195264938-814b1bb6-da02-49db-99d2-f9a488eb58ec.png)

**Suggestions for Form labels present but do not contain any content:**
Ensure that the form label contains text that describes the function of the associated form control. Labels are not required for image, submit, reset, button, or hidden form controls.

[2022-10-12 07:54] EstherChristopher commented on #37
Hello @sgibson91
I'd be working on the API reference subsection. I'm currently reading through it to see how it can be organized into the necessary documentation type. I'll drop my opinion on the current state of the API reference documentation and then go ahead to restructure it if need be.

[2022-10-12 08:48] luquiceno commented on #40
Hi @GeorgianaElena I'm going to work on this task. If I get stuck on something, I'll come here for some help.

[2022-10-12 09:20] Abolade017 commented on #38
I have evaluated the accessibility of [https://ipython.org/](url) page. My evaluation is the following below:

![ipython](https://user-images.githubusercontent.com/70269933/195282833-0e22f23c-916a-4b67-ae27-1b3572d95806.JPG)

### **Evaluation**

- **Language missing or invalid (1) :** The `<html lang>` attribute is missing or is empty, or a `lang` attribute value is not a valid language identifier

[2022-10-12 09:53] Olaedey commented on #38
![Screenshot](https://user-images.githubusercontent.com/93148657/195308842-9de13946-aa40-4d98-8acd-7adc27448af1.png)

I evaluated https://jupyter.org/governance/overview.html using WAVE accessibility testing tool. The followings were the issues encountered and the suggestions to fix them.

**Errors (9)**
**Empty form label (5):** A form label is present, but does not contain any content.
**Suggest

[2022-10-12 10:28] Abolade017 commented on #38
I evaluated the web accessibility of [https://jupyter.org/hub](url) page. My evaluation is the following:

![jupyterhub](https://user-images.githubusercontent.com/70269933/195314030-2c7dcad0-5cf3-44db-8641-8865b34275aa.JPG)

### **Detailed Evaluation**

- **Missing first level heading element (1) :** A page does not have an `<h1>` element. Headings facilitate page navigation for users of many assi

[2022-10-12 10:55] Sheila-nk commented on #39
@minrk informed me that there is a problem on BinderHub CI where the tests aren't completing and coverage is wrong so he has recommended I choose a different repository. I am currently looking into the dockerspawner repo. Will update on any progress.

[2022-10-12 10:57] kerylefondji commented on #38
hello everyone i can't see my evaluation i did yesterday, what can be the problem?

[2022-10-12 11:53] Abolade017 commented on #38
I evaluated the web accessibility of [https://jupyter.org/governance/intro.html](url) page. The evaluation is the following:
![jupyter governance](https://user-images.githubusercontent.com/70269933/195323133-0a17c184-6a64-432c-a03f-026fde110f38.JPG)

### **Evaluation**

- **Empty form label (5) :** A form label is present, but does not contain any content. A `<label>` element that is associated to

[2022-10-12 12:58] sgibson91 commented on #38
@Joel-Ando If you know other web accessibility evaluation tools, you are welcome to use those!

[2022-10-12 12:59] sgibson91 commented on #37
No need to restructure right now! That will be a task for the intern we take on

[2022-10-12 13:27] alwasega commented on #41
Hello,
If I change the main title of a document, will doing so break something else? And so, is it advisable to change the main title of a document to reflect changes made to the doc?

[2022-10-12 14:17] Suldana commented on #37
Hello @sgibson91 I transform the documentation to follow the diataxis framework, Here is the screenshot of Contribution secssion.
![git  to pn](https://user-images.githubusercontent.com/114906181/195367378-01780605-456b-422a-9cab-d8bbd5dbea90.png)
1.	What does the mapping tell you about the current state of our documentation?
We discover how simple it is for a person to comprehend and locate a man

[2022-10-12 14:17] Abolade017 commented on #38
Evaluating web accessibility on [https://jupyter.org/governance/trademarks.html](url). The issues and the fixing is the following:

![jupyterpolicy](https://user-images.githubusercontent.com/70269933/195349802-4d57775b-97ea-480d-b42b-8564c6da2210.JPG)

### **Evaluation**

- **Empty form label (5) :** A form label is present, but does not contain any content. A `<label>` element that is associated

[2022-10-12 14:41] EstherChristopher commented on #37
@sgibson91 Ok, thank you for the clarification.

[2022-10-12 14:54] Abolade017 commented on #38
I have evaluated the web accessibility on https://jupyter.org/governance/intro.html and i can't find any issues on the page.

![jupyter governance intro](https://user-images.githubusercontent.com/70269933/195376461-96164101-f6dd-4e93-b0ea-5bc69a8cfd77.JPG)

[2022-10-12 16:08] Abolade017 commented on #38
I evaluated the web accessibility on [https://jupyter.org/governance/projectlicense.html](url). The result of the evaluation is as follows:

![licensing](https://user-images.githubusercontent.com/70269933/195378805-624fcf7c-c4db-4198-92d2-db4329831e94.JPG)

### **Evaluation**

1. **9 Errors :**
  - **Form label (5) :** A form label is present, but does not contain any content. This issue can be fi

[2022-10-12 16:25] AbeerTannous commented on #38
Hi Minrk , I see same names on multiple pages , is that OK?

[2022-10-12 16:56] james95-developer commented on #38
https://jupyter.org/governance/software_subprojects.html
![governance](https://user-images.githubusercontent.com/97939107/195401114-2897aa7c-9826-4edf-aa8b-20ee9d21ad99.PNG)
1. A form label is present, but does not contain any content.` label for="__navigation" class="headerbtn" data-toggle="tooltip" data-placement="right" title="" data-original-title="Toggle navigation">`A <label> element that is

[2022-10-12 17:12] EbubeEvan commented on #38
I worked on https://jupyter.org/governance/communitybuildingcommittee.html and I found the following issues:

- Empty form label: a lang="en" should be added to the open `html` tag to specify the language of the webpage in order to increase its accessibilty.
- Empty form labels : the `label` elements should be deleted and the `i` elements nested within them should be nested within `span` elements.

[2022-10-12 17:23] Abolade017 commented on #38
I have evaluated the web accessibility of [https://jupyter.org/governance/people.html](url). The issues and fixing is as follows:
![jupyterpeople](https://user-images.githubusercontent.com/70269933/195399357-0360a976-e6c1-47fa-9f57-9b5521d3a7d7.JPG)

### **Evaluation**

1. **9 Errors :**

- **Empty form label (5) :** A form label is present, but does not contain any content. This issue can be fixe

[2022-10-12 17:58] NPDebs commented on #41
Hi @alwasega 👋🏼
Renaming files on a large project like this is never a good idea. You might break the existing, well-established network of information.

That said, what do you mean my making changes reflect?

[2022-10-12 18:04] EstherChristopher commented on #37
I couldn't easily navigate my way around Miro software for a pictorial representation so I tried to describe my feedback as best as I could.

**### JupyterHub API reference**

a. What does the mapping tell you about the current state of our documentation?

The overall documentation of the Jupyter API is quite orderly. It is largely a reference information type. However, some adjustments can be mad

[2022-10-12 20:08] Joel-Ando commented on #41
Hi! Mrs @sgibson91 please i saw the below code block on one of the documentation.
1) this are json's why are they in single quotes?

[2022-10-12 21:37] Heavenlie commented on #38
hello,
I would like to work on this page on the website Jupiter.
 http://jupyter.org/governance/newsubprojects.html. I will like for it to be added.

[2022-10-12 21:40] Heavenlie commented on #38
username is heavenlie

[2022-10-12 22:46] Motunrayo321 commented on #40
Hello @GeorgianaElena, I have completed steps 1-3. However I have not been able to proceed with the tests as I keep running into a ModuleNotFoundError with a description of "No module named 'pytest_awesome'".
I have installed this package with pip despite not mentioning it anywhere in my code. This doesn't seem to fix the error. I would appreciate if you could render some help.
Here's the plugin f

[2022-10-12 22:49] alexanderchosen commented on #41
Hello @sgibson91, I am Alexander, an Outreachy Intern from Nigeria.
Please can I get assigned to this project? I have read through the instructions given above and I have started working on the documentation.
Thanks

[2022-10-13 04:04] alwasega commented on #41
Thanks for your response @NPDebs. Yes, I had a feeling that making such a change could break something else somewhere, hence my query. What I meant by making changes reflect is that I was working on a document with the title `Starting servers with the JupyterHub API` but the entire document reads more of like `Managing servers with the JupyterHub API` as starting a server is only one of the many s

[2022-10-13 04:40] NPDebs commented on #41
Ah. I see...
That's a very brilliant observation, actually. 💡

Here's what I'd suggest. In the description of your PR, suggest the new title and wait for feedback from the reviewer(s). 👍🏻

[2022-10-13 04:41] NPDebs commented on #41
@alwasega Ah. I see...
That's a very brilliant observation, actually. 💡

Here's what I'd recommend. In the description of your PR, suggest the new title and wait for feedback from the reviewer(s). 👍🏻

[2022-10-13 05:22] alwasega commented on #41
Let me do so. Thanks a lot for your help, @NPDebs!

[2022-10-13 05:23] NPDebs commented on #41
You're most welcome! 🙂🚀

[2022-10-13 08:03] alexanderchosen commented on #41
@sgibson91 please how can I get Jupiter's official images?
Thanks

[2022-10-13 08:58] luquiceno commented on #40
Hi @GeorgianaElena I'm still working on this task. I'm doing the test part.

[2022-10-13 09:55] Abolade017 commented on #38
I have evaluated the web accessibility of [https://mybinder.org/](url). The evaluation done stated the following issues and how to fix those issues are below:
![binder](https://user-images.githubusercontent.com/70269933/195551383-ac36f365-619c-4012-86c1-b649d30255e0.JPG)

## **Evaluation**

1. **5 Errors**
- **Missing alternative text (4) :** An image does not have an alt attribute. This issue can

[2022-10-13 09:57] Olaedey commented on #38
![Screenshot 10-13-2022 10 26 39](https://user-images.githubusercontent.com/93148657/195558979-98e3a1ad-1406-41a4-b2c0-83908d3d9702.png)

I evaluated https://jupyter.org/governance/bootstrapping_executive_council.html using WAVE accessibility testing tool. The followings were the issues encountered and the suggestions to fix them.

**Errors (9)**
**Empty form label (5):** A form label is present,

[2022-10-13 10:12] NPDebs commented on #41
Hi, @Temidayo32. 😃
You can tag Sarah directly in a comment, right under the PR. Or better still, request a review from the mentors.

That should potentially get you a quicker response...and also keep the sections clean. 🙂 👍🏻

[2022-10-13 10:39] Abolade017 commented on #38
I have evaluated the web accessibility of [https://jupyter.org/governance/conduct/faq.html](url). The evaluation done stated the following issues and how to fix those issues are below:

![faqs](https://user-images.githubusercontent.com/70269933/195567577-53d15f0c-93e2-488f-9ce0-4fdb72afd84b.JPG)

##**Evaluation**

1. **9 Errors**

- **Empty form label (5) :** A form label is present and associated

[2022-10-13 10:52] Abolade017 commented on #38
I have evaluated the web accessibility of [https://jupyter.org/governance/conduct/faq.html](url). The evaluation done stated the following issues and how to fix those issues are below:

![commitee](https://user-images.githubusercontent.com/70269933/195576508-4f985573-fb64-4b87-b83f-f3aa651a3605.JPG)

## **Evaluation**

1. **9 Errors**

- **Empty form label (5) :** A form label is present and assoc

[2022-10-13 11:10] Abolade017 commented on #38
I have evaluated the web accessibility of [https://jupyter.org/governance/conduct/enforcement.html](url) page. The evaluation done stated the following issues and how to fix those issues are below:

![enforcement](https://user-images.githubusercontent.com/70269933/195579525-77695a40-0682-4521-bb42-22953a41b07f.JPG)

## **Evaluation**

1. **9 Errors**
- **Empty form label (5) :** A form label is pr

[2022-10-13 11:35] Abolade017 commented on #38
I have evaluated the web accessibility of [https://jupyter.org/governance/decision_making.html](url) page. The evaluation done stated the following issues and how to fix those issues are below:

![decision](https://user-images.githubusercontent.com/70269933/195584589-569fa0a8-2e96-4be6-938b-751bb382230b.JPG)

## **Evaluation**

1. **9 Errors**
- **Empty form label (5) :** A form label is present a

[2022-10-13 11:46] Abolade017 commented on #38
I have evaluated the web accessibility of [https://jupyter.org/governance/papers.html](url) page. The evaluation done stated the following issues and how to fix those issues are below:

![paper](https://user-images.githubusercontent.com/70269933/195587375-df24f15a-9626-4fbd-90f6-30d630d24a12.JPG)

## **Evaluation**

1. **9 Errors**
- **Empty form label (5) :** A form label is present and associate

[2022-10-13 12:01] Abolade017 commented on #38
I have evaluated the web accessibility of [https://jupyter.org/governance/conduct/code_of_conduct.html](url) page. The evaluation done stated the following issues and how to fix those issues are below:

![code-of-conduct](https://user-images.githubusercontent.com/70269933/195588887-39fabb32-b4d6-4839-9c47-7592819879a1.JPG)

## **Evaluation**

1. **9 Errors**
- **Empty form label (5) :** A form lab

[2022-10-13 12:03] Olaedey commented on #38
![Screenshot 10-13-2022 12 20 34](https://user-images.githubusercontent.com/93148657/195583601-dbe67706-66d6-45b4-bb27-6af55031a44f.png)

I evaluated https://ipython.org/install.html using WAVE accessibility testing tool. The followings were the issues encountered and the suggestions to fix them.

**Errors (1)**
**Language missing or invalid (1):** The language of the document is not identified or

[2022-10-13 12:11] Abolade017 commented on #38
I have evaluated the web accessibility of [https://jupyter.org/governance/standing_committees_and_working_groups.html](url) page. The evaluation done stated the following issues and how to fix those issues are below:

![standing-committee](https://user-images.githubusercontent.com/70269933/195591916-77fcbdee-e4ce-440a-b5a7-c257f9810c19.JPG)

## **Evaluation**

1. **9 Errors**
- **Empty form label

[2022-10-13 12:23] Abolade017 commented on #38
I have evaluated the web accessibility of [https://jupyter.org/governance/governance.html](url) page. The evaluation done stated the following issues and how to fix those issues are below:

![governance](https://user-images.githubusercontent.com/70269933/195594583-60315391-7eba-4097-9acf-10380118655e.JPG)

## **Evaluation**

1. **9 Errors**
- **Empty form label (5) :** A form label is present and

[2022-10-13 12:37] EstherChristopher commented on #41
Hi, @sgibson91. I made a little adjustment to one page of the documentation and went ahead to create a pull request. Here it is [https://github.com/jupyterhub/jupyterhub/pull/4109](https://github.com/jupyterhub/jupyterhub/pull/4109). I hope it gets merged.

[2022-10-13 12:39] Abolade017 commented on #38
I have evaluated the web accessibility of [https://jupyter.org/governance/list_of_subprojects.html](url) page. The evaluation done stated the following issues and how to fix those issues are below:

![subproject](https://user-images.githubusercontent.com/70269933/195598143-40bf2ebc-5eec-4c2e-94f7-007bbfc6f4b0.JPG)

## **Evaluation**

1. **9 Errors**
- **Empty form label (5) :** A form label is pre

[2022-10-13 12:43] minrk commented on #38
Thanks for all the submissions! If you have already produced a report for one page, please _do not_ submit more page reports. Please leave these tasks for other applicants.

We are working on follow-up tasks and where to put them. But if you have a report for a page, start looking at _specific HTML changes_ to address the issues you have found. We'll provide a place to put them shortly.

[2022-10-13 12:52] Abolade017 commented on #38
I have evaluated the web accessibility of [https://jupyter.org/governance/list_of_subprojects.html](url) page. The evaluation done stated the following issues and how to fix those issues are below:

![executive-council](https://user-images.githubusercontent.com/70269933/195600501-29989edc-6ae5-409c-b4ea-d6224a3c6d67.JPG)

## **Evaluation**

1. **9 Errors**
- **Empty form label (5) :** A form label

[2022-10-13 13:03] Abolade017 commented on #38
I have evaluated the web accessibility of [https://jupyter.org/governance/bootstrapping_decision_making.html](url) page. The evaluation done stated the following issues and how to fix those issues are below:

![bootsrapping](https://user-images.githubusercontent.com/70269933/195602829-174ec26b-0231-49dc-9dd9-b897d6648810.JPG)

## **Evaluation**

1. **9 Errors**
- **Empty form label (5) :** A form

[2022-10-13 13:04] minrk commented on #38
@Abolade017 you have submitted plenty of reports, please stop submitting new reports and work on identifying what _specific_ changes need to be made for these pages.

[2022-10-13 13:06] james95-developer commented on #38
@minrk I would like to contribute to [binder.org](http://binder.org/) through a pull request from my forked branch I have named binderhub. Have tried to click the contribute option but it gives me this response ."This branch is not ahead of the upstream jupyterhub:master." I will appreciate any guidance.

[2022-10-13 13:07] minrk commented on #38
@james95-developer that means you have not made any changes. You must make and commit changes to propose before issueing a pull request. See more information [here](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request)

[2022-10-13 13:08] Abolade017 commented on #38
I have evaluated the web accessibility of [https://jupyter.org/governance/CodeofConductJupyterDayOrganizer.html](url) page. The evaluation done stated the following issues and how to fix those issues are below:

![oranizer-code-of-conduct](https://user-images.githubusercontent.com/70269933/195604515-3f9ec219-87dc-4384-8da6-82e1b70c04c6.JPG)

## **Evaluation**

1. **9 Errors**
- **Empty form label

[2022-10-13 13:14] minrk commented on #38
@Abolade017 please stop submitting new reports. You have submitted 3 new reports since I asked you to stop. In a conversation, it is important to read intervening comments in a thread before posting new messages.

[2022-10-13 13:21] Abolade017 commented on #38
I have evaluated the web accessibility of [https://jupyter.org/governance/overview.html](url) page. The evaluation done stated the following issues and how to fix those issues are below:

![overview](https://user-images.githubusercontent.com/70269933/195605884-5dc180d1-b122-4f88-81c5-51d827cbe125.JPG)
## **Evaluation**

1. **9 Errors**
- **Empty form label (5) :** A form label is present and assoc

[2022-10-13 13:32] DBAKITA commented on #38
![wave evaluation of ipython documentation](https://user-images.githubusercontent.com/87822858/195596401-7608490a-7a3e-4205-aafa-7d47f14a9052.JPG)

I evaluated https://ipython.org/documentation.html using WAVE web accessibility evaluation tool.

Below are the findings and the suggested changes to improve the page's accessibility.

**1. Language Missing or Invalid (The <html lang> attribute is miss

[2022-10-13 13:34] DBAKITA commented on #38
![wave evaluation of ipython documentation](https://user-images.githubusercontent.com/87822858/195611125-bc466b96-e2e9-42e5-be81-1bf30945d5e2.JPG)

I evaluated https://ipython.org/documentation.html using WAVE web accessibility evaluation tool.

Below are the findings and the suggested changes to improve the page's accessibility.

1. Language Missing or Invalid (The attribute is missing or is empt

[2022-10-13 13:43] DBAKITA commented on #38
![wave evaluation of ipython documentation](https://user-images.githubusercontent.com/87822858/195613576-b5d967d0-a7a2-46e6-894e-8eee6aebea7e.JPG)

I evaluated https://ipython.org/documentation.html using WAVE web accessibility evaluation tool.

Below are the findings and the suggested changes to improve the page's accessibility.

1. Language Missing or Invalid (The attribute is missing or is empt

[2022-10-13 13:45] DBAKITA commented on #38
![wave evaluation of ipython documentation](https://user-images.githubusercontent.com/87822858/195614140-8f20b01f-3957-472a-8a98-59859a4bf078.JPG)

I evaluated https://ipython.org/documentation.html using WAVE web accessibility evaluation tool.

Below are the findings and the suggested changes to improve the page's accessibility.

Language Missing or Invalid (The attribute is missing or is empty,

[2022-10-13 13:47] DBAKITA commented on #38
![wave evaluation of ipython documentation](https://user-images.githubusercontent.com/87822858/195614536-82f3ee77-6d37-4b29-a46c-fb27c87e4792.JPG)

I evaluated https://ipython.org/documentation.html using WAVE web accessibility evaluation tool.

Below are the findings and the suggested changes to improve the page's accessibility.

Language Missing or Invalid (The attribute is missing or is empty,

[2022-10-13 13:51] DBAKITA commented on #38
![wave evaluation of ipython documentation](https://user-images.githubusercontent.com/87822858/195614851-38fd7a76-292a-40fa-b728-ef217ac7de43.JPG)

I evaluated https://ipython.org/documentation.html using WAVE web accessibility evaluation tool.

Below are the findings and the suggested changes to improve the page's accessibility.

**1. Language Missing or Invalid (The attribute is missing or is em

[2022-10-13 14:32] kerylefondji commented on #38
**Wave evaluation** of the page the page : https://ipython.org/install.html

![pic](https://user-images.githubusercontent.com/43968188/195592958-34afda7d-f11f-49a1-a230-436a6dc4e3fc.PNG)

1.  **Error** : The Language of the document  is missing or invalid.
                        **Suggestions that will improve its accessibility**
                                    - **Rule description** : The HT

[2022-10-13 15:25] yamakat commented on #38
For this issue I chose to evaluate the [Security page](https://jupyter.org/security) of Jupyter, which is pretty simple and clear. I used the WAVE tool, from which I've got no errors and alerts; 3 features (alternative texts and language), 15 structural elements (headings, navigation and footer) and 7 things concerning Aria (labels).

Overall, this page is ok, the text is never too long (meaning i

[2022-10-13 15:38] Mackenzie-OO7 commented on #37
[Here](https://miro.com/app/board/uXjVPNhQKm8=/?share_link_id=582406489929) is a link to the mapping of the **Get Started** section according to the Diataxis Framework

1. What does the mapping tell you about the current state of our documentation?
    - The mapping tells me that the current documentation does not have enough tutorials, and is not explicit enough for a new user.

2. Where would yo

[2022-10-13 16:05] EstherChristopher commented on #41
Hi @GeorgianaElena, I made some improvements to another documentation and made a pull request. You can check it out here [https://github.com/jupyterhub/jupyterhub/pull/4113](https://github.com/jupyterhub/jupyterhub/pull/4113). I look forward to seeing it merged, thanks.

[2022-10-13 16:17] AbeerTannous commented on #38
I Evaluated this page https://jupyter.org/governance/software_steering_council.html and found the following.
Language missing or invalid--total of 1
suggestion: add the lang tag to determine the page language

Multiple form labels--total of 2
Empty form label-- total of 5
suggestion: inspect the code to fix the multiple label and the empty label issues

Empty button-- total of 1
suggesting this bu

[2022-10-13 16:32] ade-ronke commented on #38
4. Navigation: It means that a <nav> element or navigation landmark is present. Two Navigation Icons is present on the page. A navigation icon should not be present in the footer as it is to be found in the page header.
Suggestion: Navigation links should b embedded in the Nav bar in the footer. The user should be able to navigate when Nav bar is hovered or clicked on.

[2022-10-13 17:06] PreciousOritsedere commented on #38
My name is Precious, I am an outreachy intern. I evaluated the [jupyter.org](https://jupyter.org/security)'s website using the WAVE tool as instructed.  Below is a screenshot of the page evaluated

Below are the changes I suggest can be made to improve accessibility for users:

![Screenshot (77)](https://user-images.githubusercontent.com/104203890/195645843-546aa8e7-1866-42b3-94d1-ccf13fbe4575.png

[2022-10-13 17:35] Heavenlie commented on #38
hello everyone.
I have a question, I am unsure. are we to fill in the page on the spreadsheet before accessing it or after accessing.

[2022-10-13 17:52] Olaedey commented on #38
You're to put your name under "work in progress" column if you are working on any of the link. Then, you move your name to "done" when you're done accessing it and post your suggestion here. If you intend to work on any page not included in the sheet, you should update the microtask sheet with the link.

[2022-10-13 21:46] Motunrayo321 commented on #40
Hello @GeorgianaElena, I will start working on other tasks while I'm trying to fix the bug I'm encountering. I will keep you updated on any progress I make.

[2022-10-13 21:57] Motunrayo321 commented on #39
Hello @GeorgianaElena, I would like to work on this issue. I'll keep you updated about any progress I make.

[2022-10-13 23:08] alexanderchosen commented on #41
Hello mentors @GeorgianaElena @sgibson91 @minrk, I properly reviewed the config-user-env.md under issue#41 with the aim of simplifying it for easy use for all kinds of users. Please check it out here https://github.com/jupyterhub/jupyterhub/pull/4114
I look forward to your feedback. Thanks

[2022-10-14 00:26] Heavenlie commented on #38
yes, thank you.

[2022-10-14 01:47] Quemmies3 commented on #38
![2022-10-14](https://user-images.githubusercontent.com/80988691/195739318-bc1fcc83-9ec6-44a4-9417-11f94b7dd946.png)

**[(https://ipython.org/ipython-doc/stable/interactive/reference.html)]**

**_Errors_**
1. Language missing or invalid : adding a lang attribute set to the language used in the HTML element if a single language is being used or in the tags of the element where another language is b

[2022-10-14 02:00] AbeerTannous commented on #38
then do you know what's the next step ? dose any one has access to the HTML doc? when should we start working on it ?

[2022-10-14 04:42] ChristianaOsun commented on #38
Hello everyone, my name is Christiana and I am an Outreachy applicant. I accessed the [ipython](https://ipython.org/news.html) website using the WAVE tool as suggested and will like to further improve the accessibility of the section.
This is a screenshoot of my evaluation:
![WAVE Assessibility report](https://user-images.githubusercontent.com/66247893/195761460-8badafe5-0931-40e8-93dd-f76e7916226

[2022-10-14 05:22] falyne commented on #41
hello @sgibson91 i worked on the troubleshooting page kindle review https://github.com/jupyterhub/jupyterhub/pull/4117#issue-1408780087

[2022-10-14 06:14] Olaedey commented on #38
According to the update by @minrk above, a place will be provided to propose specific, concrete changes you have highlighted in your previous evaluation(s). Hence, while we're patiently waiting for the update, we're advised to get more familiarity with web accessibility and be ready to implement what we've learnt.

[2022-10-14 07:09] bl-aire commented on #38
Hi,
Which page did you evaluate?

[2022-10-14 08:44] Olaedey commented on #38
Please, refer to the microtask spreadsheet[spreadsheet ](https://docs.google.com/spreadsheets/d/1RjxERA3ux7k-rbUT_sej9eAlcgTA6BhivRPJB9CG33o/edit)  in the pinned message. You will find my username in the "done" column of the pages I evaluated.

[2022-10-14 10:23] Joel-Ando commented on #37
Hi Mrs @sgibson91,
 As instructed  above, here is the  mapping miro screenshot  of the JupyterHub RBAC using the Diataxis Framework.
![miro](https://user-images.githubusercontent.com/81184842/195809517-a41b3702-1f91-43aa-8934-2ef1ce7c18bc.JPG)

1) What does the mapping tell you about the current state of our documentation?
    -The current state of the document indicate uneven distribution since s

[2022-10-14 10:26] bl-aire commented on #38
I searched and there's a markdown file here https://github.com/jupyter/governance/tree/master that corresponds with the page you evaluated

[2022-10-14 10:26] Heavenlie commented on #38
Thank you. I appreciate. I haven't made a contribution yet. I'm still on it. I am not 100% familiar with all tools and concept, so I am studying alongside.
Also, is there a deadline for completing the first task.

[2022-10-14 10:29] minrk commented on #38
Hi everyone, great job and thank you for contributing these reports!

It's now time to move on to the second phase: investigating and proposing fixes for the issues. Use your reports that you got from WAVE to try to figure out ways to improve the HTML or CSS of the page(s) you have evaluated.

We are not asking you to fork the original repos and contribute changes, in part because the HTML is ofte

[2022-10-14 10:38] james95-developer commented on #38
@minrk thanks for the updates

[2022-10-14 10:55] Goodiec opened #50 "Accessibility: ipython.org"
### What page is this for?

ipython.org

### WAVE accessibility report

1 Error - Language missing or invalid
48 Contrast Errors - Very low contrast
18 Alerts - 14 X Justified text, 1 X Suspicious alternative text, 2 X Image with title, 1 Suspicious link text
3 Features - 3 X Linked image with alternative
16 Structural Elements - 3 X Heading level 1, 5 X Heading level 3, 1 Heading level 4, 4 X Uno

[2022-10-14 10:58] Beamps-code commented on #37
Hi, my name is Bimpe, an outreachy applicant, I am super pumped to be contributing to this project.

[2022-10-14 11:51] Olaedey commented on #38
I think you're right. I evaluated more than one pages though. Thanks

[2022-10-14 12:01] james95-developer opened #51 "Accessibility:"
### What page is this for?

https://jupyter.org/governance/overview.html

### WAVE accessibility report

![overview](https://user-images.githubusercontent.com/97939107/195828248-b39b9cb2-4f3c-4071-9fd6-bbc97094b0cf.PNG)

In reviewing the above page I came a cross the following
1. form label is present, but does not contain any content.
A `<label>` element that is associated to a form control but d

[2022-10-14 12:05] wangkaruru commented on #39
hey @sgibson91 I am interested in working on this task. Will keep you updated on my progress. Thanks

[2022-10-14 12:54] Uzor13 opened #52 "Accessibility: IPython's homepage"
### What page is this for?

https://ipython.org/

### WAVE accessibility report

<img width="360" alt="Screenshot 2022-10-09 at 1 22 23 AM" src="https://user-images.githubusercontent.com/40992425/195845153-3f05d87f-437a-4473-af4b-1f5c1ef89865.png">

- The document's language is not identified or a lang attribute value is invalid.
- Very low contrast between text and background colours. The current

[2022-10-14 13:03] bl-aire commented on #38
You are welcome

[2022-10-14 13:07] Quemmies3 commented on #38
Thank you for this update . Will begin working on mine asap

[2022-10-14 13:44] ade-ronke opened #53 "Accessibility: jupyter.org"
### What page is this for?

http://jupyter.org/

### WAVE accessibility report

![Jupyter org](https://user-images.githubusercontent.com/86165428/195857714-df29ed6f-f41d-41df-8c20-8d0908ef4897.PNG)

### The HTML element to be changed

[code]

### Your proposed HTML (or CSS), after change

[code]

### More info

_No response_

[2022-10-14 14:55] kerylefondji opened #54 "Accessibility: page https://ipython.org/install.html"
### What page is this for?

https://github.com/jupyterhub/outreachy/issues/38#issuecomment-1277709610

### WAVE accessibility report

**Wave accessiblity report**

1. 1 Error : 1 X Language missing or invalid.
2. 48 Contrast errors : 48 X very low contrast.
3. 18 Alerts : 14 X justified text,  1 X Suspicious alternative text, 2 X image with title, 1 X Suspicious link text.
4. 3 Features: 3 X Linke

[2022-10-14 15:37] brendamoreira opened #55 "Accessibility: Jupyter About Page"
### What page is this for?

https://github.com/jupyterhub/outreachy/issues/38#issuecomment-1273541852

### WAVE accessibility report

## Jupiter "About" page Wave evaluation:

<img width="1440" alt="Screenshot 2022-10-14 at 13 32 28" src="https://user-images.githubusercontent.com/62898120/195837414-1d7570b7-e61a-4cc4-a54b-2e038d896c6c.png">

### Detailed contrast errors and alerts & contrast infor

[2022-10-14 17:01] Kedishi opened #56 "Accessibility: jupyter.org/about"
### What page is this for?

Jupyter about page

![THE ABOUT PAGE](https://user-images.githubusercontent.com/62898120/195837414-1d7570b7-e61a-4cc4-a54b-2e038d896c6c.png)

### WAVE accessibility report

Contrast Element page.

![](https://user-images.githubusercontent.com/62898120/195837674-49732ed1-e97a-45a8-bf3a-60029ad3384c.png)

### The HTML element to be changed

[code]

### Your proposed HTML

[2022-10-14 19:00] bl-aire opened #57 "Accessibility: Improve accessibility of Binder page"
### What page is this for?

https://mybinder.org/

### WAVE accessibility report

**Result from evaluation:**
From the WAVE accessibility tool's assessment, the following are presenting accessibility issues on the page:
1. Missing alternative text
2. Missing or invalid language
3. Very low contrast
4. No page regions
5. Missing first level heading
6. Device dependent event

![WAVE accessibility re

[2022-10-14 19:25] PreciousOritsedere opened #58 "Accessibility:"
### What page is this for?

https://mybinder.org/

### WAVE accessibility report

![Screenshot (79)](https://user-images.githubusercontent.com/104203890/195921266-c3ae02dd-3c79-4330-be22-f6feebf94e1d.png)

### The HTML element to be changed

[code]

### Your proposed HTML (or CSS), after change

[code]

### More info

_No response_

[2022-10-14 21:56] EbubeEvan commented on #38
Got it. Thank you

[2022-10-14 23:18] Ibom99 opened #59 "Accessibility:"
### What page is this for?

https://ipython.org/usersurvey2013.html

### WAVE accessibility report

![Screenshot (236)](https://user-images.githubusercontent.com/104465078/195927416-05b03bf2-5eb5-4ee0-b8dc-b9b885a1b1ed.png)
![Screenshot (237)](https://user-images.githubusercontent.com/104465078/195927427-2eb5149a-15a0-4a1c-9473-7319253e3d8a.png)
WAVE Report of https://ipython.org/usersurvey2013.ht

[2022-10-15 12:30] Bennyonye commented on #38
![Screenshot 2022-10-15 132736](https://user-images.githubusercontent.com/98492400/195986382-ce31e3a0-33f3-42fc-b278-4675db0d49f4.jpg)

I ran an accessibility test on https://jupyter.org/try-jupyter/retro/notebooks/ using the WAVE tool and here are my observations and possible recommendations:

Recommendation: The <html lang> property is missing or empty, or the value of the lang attribute is not

[2022-10-15 12:40] hillaryCyn commented on #38
![working](https://user-images.githubusercontent.com/115705765/195984994-9d8413ff-c2ef-4d30-9d04-950f8d84477f.PNG)
 **my name is Cynthia and I am an Outreachy applicant.**
I accessed the (https://jupyter.org/governance/communitybuildingcommittee.html )website using the WAVE tool as suggested.

Identifying the language of the page or page elements allows screen readers to read the content in the ap

[2022-10-15 15:37] zeelyha opened #60 "Accessibility:"
### What page is this for?

https://jupyter.org/governance/conduct/reporting_events.html

### WAVE accessibility report

![Screenshot (21)](https://user-images.githubusercontent.com/73789529/195985398-0e92c06b-7bc8-4eb1-8d7a-56667ffee963.png)

-  Missing language attribute: The language of the document is not specified.
- Redundant link: Adjacent links have the same destination URL.
- Suspicious l

[2022-10-15 15:40] Quemmies3 opened #61 "Accessibility: ipython doc reference"
### What page is this for?

https://ipython.org/ipython-doc/stable/interactive/reference.html

### WAVE accessibility report

Please find link to my comment in #38

[Wave report from Quemmies3 on IPython Reference page](https://github.com/jupyterhub/outreachy/issues/38#issuecomment-1278366526)

### The HTML element to be changed

[code]

### Your proposed HTML (or CSS), after change

[code]

### M

[2022-10-15 16:25] Beamps-code commented on #41
Here is  a [LINK](https://miro.com/app/board/uXjVPN8og-Q=/?share_link_id=236182799519) to my miro board
After using the Diataxis framework to analyze the documentation of the “**Get started section”,** my inference is as follows, there are no tutorials to help new users get familiar, but rather **“How-To Guides”** for users who already have basic competency. Also, there are not enough references f

[2022-10-15 16:29] hillaryCyn commented on #61
hi please can you explain better

[2022-10-15 16:43] Beamps-code commented on #37
This is the [LINK](https://miro.com/app/board/uXjVPN8og-Q=/?share_link_id=510582941461) to my Miro Board
1)What does the mapping tell you about the current state of our documentation

After using the Diataxis framework to analyze the documentation of the “**Get started section”,** my inference is as follows, there are no tutorials to help new users get familiar, but rather **“How-To Guides”** for

[2022-10-15 16:48] Beamps-code commented on #37
Hi @sgibson91 This is the [LINK](https://miro.com/app/board/uXjVPN8og-Q=/?share_link_id=510582941461) to my Miro Board
1) What does the mapping tell you about the current state of our documentation

After using the Diataxis framework to analyze the documentation of the “**Get started section”,** my inference is as follows, there are no tutorials to help new users get familiar, but rather **“How-To

[2022-10-15 18:26] yamakat opened #62 "Accessibility: improving the HTML of IPython page according to WAVE tool"
### What page is this for?

https://ipython.org/usersurvey2011.html

### WAVE accessibility report

![screenshot indicating a summary from WAVE evaluation: there are 1 error, 30 contrast errors, 35 alerts, 2 features, 21 structural elements and 1 aria](https://images2.imgbox.com/a1/3b/0EqXwbyV_o.png)

### Errors

* 1x Language missing or invalid
* 30x Very low contrast

### Alerts

* 27x justified

[2022-10-15 18:45] Chimatara commented on #41
Hello!
I'll like to work on this project.

[2022-10-16 09:10] james95-developer commented on #38
@minrk:matrix.org after opening a new issue describing specific changes to be made for a single page , do we need to open another issues on different pages or we wait until the initial one is reviewed?

[2022-10-16 09:44] Sheila-nk commented on #39
I have added allowed images and host ip tests to improve coverage for the dockerspawner repo. I have created a PR but the tests fail when the callable of allowed images returns a list, both locally and on github actions. I am working to find a solution but I would appreciate any assistance or recommendations. Thanks :)

#https://github.com/jupyterhub/dockerspawner/pull/467

[2022-10-16 10:48] Kemmie001 opened #63 "Accessibility: Improve accessibility of mybinder about supporters page."
### What page is this for?

https://mybinder.readthedocs.io/en/latest/about/supporters.html

### WAVE accessibility report

1. The logo image doesn't have a very descriptive alternative text
2. The cloud credit supporters image on this page has no alternative text
3. Empty links without text close to the cloud credit supporters' images
4. Some areas have low color contrast for text and background.

[2022-10-16 16:54] Raymond-techy opened #64 "Accessibility: jupyter.org/install"
### What page is this for?

https://docs.jupyter.org/en/latest/install.html

### WAVE accessibility report

1 X Missing alternative text
Missing alternative text
1 X Empty form label
24 X Very low contrast
![Jupyter](https://user-images.githubusercontent.com/81036251/196047811-db519f5a-17ed-4f83-bffe-d3795306c3e4.PNG)

### The HTML element to be changed

[code]

### Your proposed HTML (or CSS), af

[2022-10-16 18:10] damli40 opened #65 "Accessibility: Binderhub's Homepage"
### What page is this for?

http://mybinder.org/

### WAVE accessibility report

**http://mybinder.org/ 's Home Page**

- 4 images do not have alternative text (problem). Add an alt attribute to the image. The attribute value should accurately and succinctly present the content and function of the image.(fix)

- The language of the document is not identified or a lang attribute value is invalid(pr

[2022-10-16 19:33] Olaedey opened #66 "Accessibility: Improve Accessibility of IPython Project Page"
### What page is this for?

https://ipython.org/project.html

### WAVE accessibility report

![Screenshot-project](https://user-images.githubusercontent.com/93148657/196050978-176216ac-2ef7-442b-9678-8ac7e95f3d22.png)

**Evaluation Tools Used:**
1. [Wave Accessibility Tool](https://wave.webaim.org/)
2. [Colour Contrast Checker](https://colourcontrast.cc/)

**1. Errors**
1 X Language missing or inv

[2022-10-16 20:09] EbubeEvan opened #67 "Accessibility: community building committee"
### What page is this for?

https://jupyter.org/governance/communitybuildingcommittee.html

### WAVE accessibility report

I worked on https://jupyter.org/governance/communitybuildingcommittee.html and I found the following issues:

**Errors**
- Language missing or invalid: a lang="en" should be added to the open `html` tag to specify the language of the webpage in order to increase its accessibil

[2022-10-16 20:10] Raymond-techy opened #68 "Accessibility: ipython news page"
### What page is this for?

https://ipython.org/news.html

### WAVE accessibility report

1 X Language missing or invalid
197 X Very low contrast
157 X Justified text
9 X Suspicious link text
![jupyter2](https://user-images.githubusercontent.com/81036251/196055385-95b1a16c-f7a9-41c2-a7d3-41cc5b294662.PNG)

### The HTML element to be changed

[code]

### Your proposed HTML (or CSS), after change

[

[2022-10-16 20:29] alwasega commented on #37
Hello,
Here is a screenshot of how I would map the `Technical Reference` documentation using the Diataxis Framework.
file:///home/aw/Pictures/Screenshots/Technical_Reference_Mapping.png

Additionally, below are my responses to the four questions:
**What does the mapping tell you about the current state of our documentation?**
Overall, the present documentation provides a good starting point for so

[2022-10-16 21:16] Joy-Remison opened #69 "Accessibility: mybinder.org"
### What page is this for?

https://mybinder.org/

### WAVE accessibility report

![Screenshot (55)](https://user-images.githubusercontent.com/103270155/196049704-ceee0bb0-1647-44e0-bd79-547bc1185fcd.png)

### The HTML element to be changed

[code]

### Your proposed HTML (or CSS), after change

[code]

### More info

1. Adding an event listeners to the webpage such as mouseover, on click event ,g

[2022-10-16 22:36] falyne opened #70 "Accessibility: newsubprojects.html"
### What page is this for?

https://jupyter.org/governance/newsubprojects.html

### WAVE accessibility report

![newssubprojects](https://user-images.githubusercontent.com/19360782/196050153-6ab2c6ec-73e7-4df3-b8a3-ddd1fe40e0a4.PNG)

Evaluation
**9 ERRORS**
-**5 Empty form label errors** because the search input and the search button have a label associated with them but contain no content.
To imp

[2022-10-16 23:20] Heavenlie commented on #38
**hello**

[2022-10-16 23:38] Heavenlie commented on #38
![Screenshot (81)](https://user-images.githubusercontent.com/32345429/196063566-145876d1-a8b9-476e-88b5-18acf10d68ce.png)

I used the wave tool to access the page(https://mybinder.readthedocs.io/en/latest/using/using.html#preparing-a-repository-for-binder)

**1 error**

 **missing alternative text**

- The alternative text(alt) should describe the content and meaning of the image. All non-text sho

[2022-10-17 07:35] minrk commented on #50
Those are all great suggestions, thank you!

[2022-10-17 08:13] luquiceno commented on #40
Hi @GeorgianaElena, here is the link for my firstuseauthenticator fork:  [firstuseauthenticator](https://github.com/luquiceno/firstuseauthenticator). I had some problems running the test, but finally they all passed :).

[2022-10-17 08:23] Mackenzie-OO7 opened #71 "Accessibility: Improve accessibility of Jupyter FAQ page"
### What page is this for?

https://jupyter.org/governance/conduct/faq.html

### WAVE accessibility report

![Screenshot 2022-10-17 074917](https://user-images.githubusercontent.com/97461848/196107953-132a8ff5-37f9-4790-9e7b-ed34fb0c55f7.png)

### The HTML element to be changed

[code]

### Your proposed HTML (or CSS), after change

[code]

### More info

Alternatively, for the multiple form label

[2022-10-17 09:15] Sheila-nk commented on #39
Update: The bug has been fixed and the pull request has been merged! 😄

[2022-10-17 10:44] Dev-Liz commented on #37
![image](https://user-images.githubusercontent.com/40176275/196151995-d16129f4-661e-4d4c-8545-c01830cd456c.png)

a. This mapping shows that the Getting started section of the documentation is already structured to follow the Diataxis framework, as it includes TUTORIALS, HOW-TO-GUIDES, EXPLANATIONS, AND REFERENCES, all distinct and equally separated on different pages.

b. For a user or a developer

[2022-10-17 11:15] GeorgianaElena commented on #39
### Update

Hey all! I have updated [the top comment](https://github.com/jupyterhub/outreachy/issues/39#issue-1397562448) with a final step, which is to add the link to the PR into a [spreadsheet](https://docs.google.com/spreadsheets/d/1iGPccBrgpSpzMB5B2Te-3UKKj8HmNT9r22RmlU81m7U/edit#gid=0), to track your awesome work more easily.

[2022-10-17 11:15] GeorgianaElena commented on #39
Congratulations @Sheila-nk 🎉 and thanks for improving the test coverage of https://github.com/jupyterhub/dockerspawner. I have just added the link to your PR in the spreadsheet, as an example.

[2022-10-17 12:01] minrk commented on #51
Thanks for these suggestions! I wonder if we can find some accessible examples of the collapsible header element. Presumably that element should be entirely omitted from the screen reader context, since the header nav should just be accessible for a reader. Or is that not correct?

[2022-10-17 12:05] minrk commented on #52
Those are great suggestions! The semantic elements are definitely something we should consider proposing to the sphinx template folks.

[2022-10-17 12:10] Quemmies3 commented on #61
What do you need clarity on so I can explain better? @hillaryCyn

[2022-10-17 12:11] minrk commented on #54
Good suggestions, thank you!

[2022-10-17 12:15] minrk commented on #55
Great suggestions and explanations, thank you!

[2022-10-17 12:18] hillaryCyn opened #72 "Accessibility: community building committee"
### What page is this for?

https://jupyter.org/governance/communitybuildingcommittee.html

### WAVE accessibility report

![working](https://user-images.githubusercontent.com/115705765/195998066-bb558aa2-850d-4d43-b194-2eb4723b5bad.PNG)

### The HTML element to be changed

[code]

### Your proposed HTML (or CSS), after change

[code]

### More info

I have been able to work on  the issues using a

[2022-10-17 12:23] minrk commented on #57
These are great suggestions! Would you like to try to implement one or two of them?

The pages can be found here: https://github.com/jupyterhub/binderhub/tree/master/binderhub/templates

[2022-10-17 12:26] minrk commented on #58
THanks! Can you provide a little more detail about the issues being fixed? What issues are fixed by each change?

[2022-10-17 12:27] minrk commented on #56
Thank you, these look good!

[2022-10-17 12:27] brendamoreira commented on #56
Hi @Kedishi, are you really posting this evaluation as your own?

[2022-10-17 12:28] brendamoreira commented on #56
I mean... https://github.com/jupyterhub/outreachy/issues/55 even the screenshots are exactly the same.

[2022-10-17 12:29] minrk commented on #59
Thank you, those are good suggestions!

[2022-10-17 12:31] minrk commented on #60
Thank you! Can you discuss why removing styling with span/em in the email link fixes an accessibility issue?

[2022-10-17 12:36] minrk commented on #63
Good suggestions! We'd need to futz with the CSS to get the alignment right after moving it, but putting the img in the anchor should be better.

[2022-10-17 12:42] minrk commented on #65
Great! I'm curious about the js events. In principle, it makes sense to me, but can you find an example of one of the js events that would have this effect and perhaps a way to do it better?

I am growing familiar with accessibility for static a HTML page, but how to represent dynamic content accessibly is not something I've read about.

[2022-10-17 13:08] GeorgianaElena commented on #40
Hey all! Thanks a lot for your work so far 🎉 🌻

## Update

I have updated the last step in [the top comment](https://github.com/jupyterhub/outreachy/issues/40#issue-1397577029) with a new process for sharing the work that you have done as part of this task 🚀

This should make reviewing it and providing feedback and more straightforward and easier to track.

### Short summary of the change

1. Inst

[2022-10-17 13:20] Kedishi commented on #56
I didn’t paste any screenshots. Although I have access to a close friend of mine to check it out. Maybe something happened. I’d check it again

[2022-10-17 14:32] Abolade017 opened #73 "Accessibility:"
### What page is this for?

https://jupyter.org/security#security-documentation

### WAVE accessibility report

I evaluated the web accessibility of this page with WAVE tool. The issues and it's fixing are the following:

![security](https://user-images.githubusercontent.com/70269933/196198240-2ba33933-41bd-426e-9394-5add483b9ac4.JPG)

 ##**Evaluation**

- **Alternative text (1) :**:  A non-empty

[2022-10-17 14:57] AbeerTannous commented on #38
I cant find my evaluation post on this page , very wired

[2022-10-17 15:05] Bhaybhiisparks commented on #38
![Uploading Screenshot 2022-10-17 160334.png…]()
You might have missed this

[2022-10-17 16:22] Abolade017 opened #74 "Accessibility: jupyter.org/hub"
### What page is this for?

https://jupyter.org/hub

### WAVE accessibility report

I evaluated the web accessibility of [https://jupyter.org/hub](url) page. My evaluation is the following:

![jupyterhub](https://user-images.githubusercontent.com/70269933/195314030-2c7dcad0-5cf3-44db-8641-8865b34275aa.JPG)

### **Detailed Evaluation**

- **Missing first level heading element (1) :** A page does no

[2022-10-17 16:39] hillaryCyn commented on #61
sorry just wanted to know how we get feed back on the work we have done @Quemmies3

[2022-10-17 17:05] Bennyonye opened #75 "Accessibility: try-retro-notebooks"
### What page is this for?

https://jupyter.org/try-jupyter/retro/notebooks/

### WAVE accessibility report

![Screenshot 2022-10-15 132736](https://user-images.githubusercontent.com/98492400/196040830-56dba9f3-d653-4444-8f00-151d4e778930.jpg)

2 Errors
Missing or uninformative page title
Language missing or invalid

0 Contrast Error

1 Alerts
No page regions

0 Features

1 Structural Element
Head

[2022-10-17 17:41] Kemmie001 commented on #63
@minrk Yes would you like me to write out the changes that the CSS will need out also

[2022-10-17 20:00] Chimatara commented on #75
Hi @Bennyonye have you solved the issue?

[2022-10-17 20:03] Uzor13 opened #76 "Pytest Plugin: Pytest-auth"
### Please share the URL of pytest plugin you have created?

https://github.com/Uzor13/pytest-auth

### Please share the URL to your fork of `FirstUseAuthenticator` where you have integrated the plugin

https://github.com/Uzor13/firstuseauthenticator

### Whether or not you managed to run the `FirstUseAuthenticator` tests succesfully

Yes, the tests run

### Issue description

_No response_

[2022-10-17 20:38] Divine-peace opened #77 "Accessibility:"
### What page is this for?

https://jupyter.org/governance/intro.html

### WAVE accessibility report

![juper org](https://user-images.githubusercontent.com/103381382/196271636-fed3ff5a-bb9e-446c-a438-a39bced9135e.png)

**Suggestions for Form labels present but do not contain any content:**
Ensure that the form label contains text that describes the function of the associated form control. Labels

[2022-10-18 02:27] Lilianada opened #78 "Accessibility: governance intro"
### What page is this for?

http://jupyter.org/governance/intro.html

### WAVE accessibility report

1. The <html lang> attribute is missing or empty, or a lang attribute value is not a valid language identifier.
Suggestion: Add the document language identifier using the attribute with a valid value (e.g., <html lang="en">).
2. Two or more <label>s are associated with a single <input>.
Suggestion:

[2022-10-18 06:44] Uzor13 opened #79 "Accessibility: Jupyter's Community Page"
### What page is this for?

https://jupyter.org/community

### WAVE accessibility report

<img width="360" alt="Screenshot 2022-10-10 at 11 42 31 AM" src="https://user-images.githubusercontent.com/40992425/196351988-cc8206fd-3d7c-48c5-9d92-865cef9c85ad.png">

- Contrast errors: The view buttons have contrast issues because the text has a lesser ratio than the background colour due to its size. Inc

[2022-10-18 07:27] Ibom99 commented on #59
Thank you for the review! @minrk

[2022-10-18 08:31] james95-developer commented on #51
@minrk Thanks let me have a look at it in more details

[2022-10-18 09:20] luquiceno opened #80 "My pytest plugin"
### Please share the URL of pytest plugin you have created?

https://github.com/luquiceno/pytest-pluginlu

### Please share the URL to your fork of `FirstUseAuthenticator` where you have integrated the plugin

https://github.com/luquiceno/firstuseauthenticator

### Whether or not you managed to run the `FirstUseAuthenticator` tests succesfully

Yes, the tests run

### Issue description

_No respon

[2022-10-18 09:32] kerylefondji commented on #54
@minrk Thanks sir

[2022-10-18 11:02] Abolade017 opened #81 "Accessibility:"
### What page is this for?

https://jupyter.org/governance/list_of_subprojects.html

### WAVE accessibility report

I have evaluated the web accessibility of [https://jupyter.org/governance/list_of_subprojects.html](url) page. The evaluation done stated the following issues and how to fix those issues are below:

![subproject](https://user-images.githubusercontent.com/70269933/195598143-40bf2ebc-5

[2022-10-18 12:33] Joel-Ando opened #82 "Accessibility: ipython.org"
### What page is this for?

https://ipython.org/index.html#

### WAVE accessibility report

![ipython](https://user-images.githubusercontent.com/81184842/196422621-020e67ae-1d0b-452f-90c6-8f469f74833d.JPG)
1 LANGUAGE MISSING OR UNIDENTIFIED: this indicate a missing <HTML> language attribute, which is a necessity for all web pages that allows users know which language they are interacting with on t

[2022-10-18 14:07] Abolade017 opened #83 "Accessibility: jupyter home page"
### What page is this for?

https://github.com/jupyterhub/outreachy/issues/38#issuecomment-1274666215

### WAVE accessibility report

My name is Adeola Tawakalitu Adenike. After accessing the `jupyter.org` website with WAVE tool, the evaluation to the website accessibility is the image below:

![jupytercon page](https://user-images.githubusercontent.com/70269933/195077971-eac08b3b-0d7d-4c29-ad6b-4

[2022-10-18 15:19] EstherChristopher commented on #37
Here is the image URL to the mapping of the Contributing documentation using the Diataxis framework:

[FAAC7A9C-29C2-47ED-BAF2-38903877B095](https://user-images.githubusercontent.com/97364759/196449495-3399a694-4a13-4dad-80b2-df64f03996e6.jpeg)

**Contributing** documentation of JupyterHub using the Diátaxis framework

a. What does the mapping tell you about the current state of our documentation?

[2022-10-18 16:35] AbeerTannous opened #84 "Page Accessibility HTML Specific Improvement."
### What page is this for?

https://jupyter.org/governance/software_steering_council.html

### WAVE accessibility report

https://github.com/jupyterhub/outreachy/issues/38#issuecomment-1277869254

### The HTML element to be changed

[code]

### Your proposed HTML (or CSS), after change

[code]

### More info

In general the HTML document has very poor indentation as well as semantic classes and st

[2022-10-18 16:39] Eshy10 opened #85 "Accessibility: jupyter.org/governance/standing_committees_and_working_groups.html"
### What page is this for?

https://jupyter.org/governance/standing_committees_and_working_groups.html

### WAVE accessibility report

1. Empty Form Label
2. Missing or Invalid Language
3. Multiple Form Label
4. Empty Button

<img width="1440" alt="Screenshot 2022-10-18 at 03 22 53" src="https://user-images.githubusercontent.com/52670459/196320697-4d34e8b3-c90e-448c-aeb0-e2336e3b08c7.png">

### Th

[2022-10-18 16:47] AbeerTannous commented on #84
Just for clarification In the MORE INFO section I have  used some code blocks that didn't show . instead its displayed as page elements .

[2022-10-18 21:15] QNNAKWUE commented on #37
Hello @sgibson91, here's a screenshot of my mapping on the issue and a little bit about what I learned. Looking forward to your review. Thank you.

<img width="1352" alt="Screen Shot 2022-10-18 at 10 02 02 PM" src="https://user-images.githubusercontent.com/72357806/196546302-2b20a499-4984-4a0e-8dbc-b6684afa16f9.png">

What does the mapping tell you about the current state of our documentation?
The

[2022-10-18 21:58] Joel-Ando commented on #41
Hi, Mrs @GeorgianaElena, Mrs@sgibson91and  Mr@minrk  i open a pull request on the following  documentation
(check it out here)[https://github.com/Joel-Ando/jupyterhub/pulls] waiting for your reviews thanks.

[2022-10-18 22:34] Ibom99 opened #87 "Accessibility: https://jupyter.org/widgets"
### What page is this for?

https://jupyter.org/widgets

### WAVE accessibility report

![Screenshot (225)](https://user-images.githubusercontent.com/104465078/196549782-1b702834-05ea-4717-a49e-1658f9f7abde.png)

https://github.com/jupyterhub/outreachy/issues/38#issuecomment-1274815787

### The HTML element to be changed

[code]

### Your proposed HTML (or CSS), after change

[code]

### More info

[2022-10-19 02:37] marv-tech opened #88 "Accessibility: https://ipython.org/usersurvey2013.html"
## What page is this for?

https://ipython.org/usersurvey2013.html

## WAVE Accessibility Report

### Report Summary

1. **Error (1):** Language missing or invalid
2. **Contrast Errors (35):** Very low contrast
3. **Alerts (53):** This includes issues with Justified texts, suspicious alternative text and image titles.
4. **Features (3):** This had to do with images and their alternative texts.
5.

[2022-10-19 05:28] Biki-das commented on #38
I evaluated the #Jupyter.org

[2022-10-19 06:10] Meekaylah opened #89 "Accessibility: https://ipython.org/install.html"
### What page is this for?

[This page](https://ipython.org/install.html) is used to install IPython

### WAVE accessibility report

# Installing [IPython](https://ipython.org/install.html) Page
<img width="348" alt="Screenshot 2022-10-19 at 06 57 08" src="https://user-images.githubusercontent.com/84780375/196608726-aa202b74-cb4b-45a3-bbd1-b11db9798cc1.png">

- The language of this page is not ide

[2022-10-19 08:56] Abolade017 opened #90 "Accessibility: governance"
### What page is this for?

https://github.com/jupyterhub/outreachy/issues/38#issuecomment-1277526229

### WAVE accessibility report

I have evaluated the web accessibility of [https://jupyter.org/governance/governance.html](url) page. The evaluation done stated the following issues and how to fix those issues are below:

![governance](https://user-images.githubusercontent.com/70269933/195594583-6

[2022-10-19 09:02] Abolade017 opened #91 "Accessibility:"
### What page is this for?

https://github.com/jupyterhub/outreachy/issues/38#issuecomment-1277526229

### WAVE accessibility report

I have evaluated the web accessibility of [https://jupyter.org/governance/governance.html](url) page. The evaluation done stated the following issues and how to fix those issues are below:

![governance](https://user-images.githubusercontent.com/70269933/195594583-6

[2022-10-19 09:18] Heavenlie opened #92 "accessibility: Specific Suggestions for the mybinder page improvement."
### What page is this for?

https://mybinder.readthedocs.io/en/latest/using/using.html#preparing-a-repository-for-binder

### WAVE accessibility report

![Screenshot (81)](https://user-images.githubusercontent.com/32345429/196576505-ef5ea288-cb07-409e-8e2f-e96cd0f229ee.png)
![Screenshot (88)](https://user-images.githubusercontent.com/32345429/197792790-9860f6b6-9b2e-4c83-90bb-a0f168b04894.png)
![S

[2022-10-19 11:40] Abolade017 opened #93 "Accessibility: jupyter.org/community"
### What page is this for?

https://github.com/jupyterhub/outreachy/issues/38#issuecomment-1274830800

### WAVE accessibility report

I accessed [https://jupyter.org/community](url) page. The following below is the evaluation:

![jupytercommunity](https://user-images.githubusercontent.com/70269933/195116665-2f6ec76b-895c-4c1d-a61a-02741dc46ae3.JPG)

### **Evaluation**

- **Contrast error (9) :** V

[2022-10-19 11:49] Abolade017 opened #94 "Accessibility: jupyter.org/community"
### What page is this for?

https://github.com/jupyterhub/outreachy/issues/38#issuecomment-1274830800

### WAVE accessibility report

I accessed [https://jupyter.org/community](url) page. The following below is the evaluation:

![jupytercommunity](https://user-images.githubusercontent.com/70269933/195116665-2f6ec76b-895c-4c1d-a61a-02741dc46ae3.JPG)

### **Evaluation**

- **Contrast error (9) :** V

[2022-10-19 13:28] Joel-Ando commented on #40
#https://github.com/Joel-Ando/jupyterhub/pulls

[2022-10-19 13:31] Joel-Ando commented on #40
Hi @GeorgianaElena [my pulls here](https://github.com/Joel-Ando/jupyterhub/pulls)

[2022-10-19 16:17] sgibson91 commented on #41
@Joel-Ando Your Pull Requests are opened to be merged back into the default branch _of your fork_, not the original JupyterHub repo. Please read up on how to open PRs from forks here: https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork

[2022-10-19 16:56] luquiceno opened #96 "Accessibility: https://jupyter.org/governance/conduct/reporting_online.html"
### What page is this for?

https://jupyter.org/governance/conduct/reporting_online.html

### WAVE accessibility report

https://github.com/jupyterhub/outreachy/issues/38#issuecomment-1274454640

![accessibility_ReportingOnlinePage](https://user-images.githubusercontent.com/103491565/196706247-6264248f-5941-4332-809e-98eeeefd56bb.png)

**1**. Language of the  web page
**2**. Button "fullscreen mod

[2022-10-19 20:32] Divine-peace commented on #38
![jupyter-org](https://user-images.githubusercontent.com/103381382/196796432-c11988f3-7573-4222-93a2-af7ee3f52d59.png)

**Suggestions for Contrast Errors:**
Adequate contrast of text is necessary for all users, especially users with low vision.
Increase the contrast between the foreground (text) color and the background color. Large text (larger than 18 point or 14 point bold) does not require as

[2022-10-20 04:51] Joel-Ando commented on #39
#41 https://github.com/jupyterhub/jupyterhub/pull/4141

[2022-10-20 10:07] sgibson91 commented on #38
### Update

This microtask will be closed to new applicants on **Monday 24th October** (end of day UK time).

Please make sure your contributions are recorded and begin your final application on the Outreachy website. If your issue/PR is still open when we close this project, **it will still count as a contribution**. Closing the project **will not** affect your ability to record contributions and

[2022-10-20 10:08] sgibson91 commented on #41
### Update

This microtask will be closed to new applicants on **Monday 24th October** (end of day UK time).

Please make sure your contributions are recorded and begin your final application on the Outreachy website. If your issue/PR is still open when we close this project, **it will still count as a contribution**. Closing the project **will not** affect your ability to record contributions and

[2022-10-20 10:08] sgibson91 commented on #37
### Update

This microtask will be closed to new applicants on **Monday 24th October** (end of day UK time).

Please make sure your contributions are recorded and begin your final application on the Outreachy website. If your issue/PR is still open when we close this project, **it will still count as a contribution**. Closing the project **will not** affect your ability to record contributions and

[2022-10-20 11:38] sgibson91 commented on #37
Yes

[2022-10-20 12:16] Divine-peace commented on #38
**Suggestions for Contrast Errors:
Adequate contrast of text is necessary for all users, especially users with low vision.
Increase the contrast between the foreground (text) color and the background color. Large text (larger than 18 point or 14 point bold) does not require as much contrast as smaller text.
Change the color of the text and background.
The contrast ratio between text and its backgr

[2022-10-20 13:02] Sheila-nk commented on #40
Hey @GeorgianaElena Just started working on this task, will update on progress. 😃

[2022-10-20 13:43] sgibson91 commented on #45
I setup all the sphinx and readthedocs framework and we now have a site here: https://jupyterhub-outreachy.readthedocs.io/

"All" that's left to do, it populate it with info!

[2022-10-20 13:52] Abolade017 opened #98 "Accessibility: ipython.org"
### What page is this for?

https://github.com/jupyterhub/outreachy/issues/38#issuecomment-1275855450

### WAVE accessibility report

I have evaluated the accessibility of https://ipython.org/ page. My evaluation is the following below:

![ipython](https://user-images.githubusercontent.com/70269933/195282833-0e22f23c-916a-4b67-ae27-1b3572d95806.JPG)

### **Evaluation**

- **Language missing or inv

[2022-10-20 15:43] Helfkay opened #100 "Accessibility: Improving the accessibility of Citing IPython"
### What page is this for?

https://ipython.org/citing.html

### WAVE accessibility report

![Screenshot 2022-10-19 022107](https://user-images.githubusercontent.com/68088057/196994523-103273f9-824d-491b-b7b8-d00fbe02294e.png)

### The HTML element to be changed

[code]

### Your proposed HTML (or CSS), after change

[code]

### More info

<div class="nbviewer-thm-random">
  <script src="_static/n

[2022-10-20 15:54] softkeldozy commented on #37
![image](https://user-images.githubusercontent.com/109701479/196979656-543e6039-7423-4a1d-807d-f938014925bd.png)

a) The current state of the document is a little bit close to its desired purpose but needs a little adjustment for it to align with the Diataxis Framework.
b)Technical Reference
d) The "Configuration Examples" subset under the Technical Reference page has its sublinks outside of its e

[2022-10-20 16:17] Abolade017 opened #102 "Accessibility: governance intro"
### What page is this for?

https://github.com/jupyterhub/outreachy/issues/38#issuecomment-1276035815

### WAVE accessibility report

I evaluated the web accessibility of [https://jupyter.org/governance/intro.html](url) page. The evaluation is the following:
![jupyter governance](https://user-images.githubusercontent.com/70269933/195323133-0a17c184-6a64-432c-a03f-026fde110f38.JPG)

### **Evaluatio

[2022-10-20 17:34] bumblebib commented on #38
While studying to work on the second part of the project, I found some links that I would like to share so it can help others too!

- To understand how ARIA works and how to implement it efficiently on a website, I recommend watching ["ARIA HTML Tutorial - What is ARIA & Why it's Important to Use!" ](https://youtu.be/0hqhAIjE_8I).

- W3C has a course on EDx you can watch it for free on types of di

[2022-10-20 18:40] Bhaybhiisparks opened #103 "Accessibility: ipython books"
### What page is this for?

https://ipython.org/books.html

### WAVE accessibility report

https://github.com/jupyterhub/outreachy/issues/38#issuecomment-1273747354

WAVE PREVIEW for the https://ipython.org/books.html page

<img width="279" alt="ave issue 1" src="https://user-images.githubusercontent.com/86384288/197030975-f33eb836-6888-4400-aad9-1d466ae679a0.png">
<img width="274" alt="wave issue

[2022-10-20 19:25] Divine-peace commented on #38
**This is the Summary and Suggestions for the Evaluation of https://jupyter.org/ with Wave:**

![jupyter-org](https://user-images.githubusercontent.com/103381382/197039505-98bfb917-60b6-48c5-adae-72e7f2695aa3.png)

**Suggestions for Contrast Errors:**
Adequate contrast of text is necessary for all users, especially users with low vision.

- Increase the contrast between the foreground (text) color

[2022-10-20 19:31] preshpi commented on #38
## Jupyter.org Enforcement guidelines and principles

![wave](https://user-images.githubusercontent.com/80992383/197000328-821079fa-08aa-4827-8a80-986ca183e412.png)

After evaluating this page with the wave tools, these were the errors I got.
https://wave.webaim.org/report#/https://jupyter.org/governance/conduct/enforcement.html#conflicts-of-interest

<h1> 9 Errors </h1>

- 5x Empty form label (A

[2022-10-20 20:22] Divine-peace opened #104 "Accessibility: jupyter.org"
### What page is this for?

https://jupyter.org/

### WAVE accessibility report

![jupyter-org](https://user-images.githubusercontent.com/103381382/197046716-0cc65781-47fb-49e0-8249-cdd87e49fcd8.png)

**Suggestions for Contrast Errors:**

Adequate contrast of text is necessary for all users, especially users with low vision.

- Increase the contrast between the foreground (text) color and the back

[2022-10-21 05:38] smart882 commented on #38
### Jupyter.org page Microtask
![jupyterhub](https://user-images.githubusercontent.com/89043113/197115989-2fc7019a-a74b-400d-83b7-1fe874d9c80c.PNG)
Hello Everyone,

My name is Jimmy Inieke, I'm interested in working on jupyter.org project.
After my assessment using WAVE tool on jupyter.org,
0 error was noticed,

3 contrast errors were identified; which are basically the color combinations that was

[2022-10-21 06:08] ToobaJamal commented on #41
Hi @sgibson91, can I put any contribution URL in the final application form if there is more than one? Thanks!

[2022-10-21 07:20] sgibson91 commented on #41
Please record each contribution separately with their own specific URL. That will help us find all your contributions when we review your applications.

[2022-10-21 10:38] Noimot opened #105 "Accessibility: reporting events"
### What page is this for?

https://jupyter.org/governance/conduct/reporting_events.html

### WAVE accessibility report

https://res.cloudinary.com/noimot/image/upload/v1666344666/Screenshot_77_y4anmg.png
![Screenshot (77)](https://user-images.githubusercontent.com/36402553/197164843-e57cfcc9-8eea-4567-a5cc-45a8d941e82d.png)

A form label is present but does not contain any content.

A button is e

[2022-10-21 11:05] alexanderchosen opened #106 "Accessibility: Improving the web accessibility of Jupyter’s home page"
### What page is this for?

 https://jupyter.org/

### WAVE accessibility report

![wave-jupyterhub1](https://user-images.githubusercontent.com/56475753/197180402-4d995c9b-9ad2-4f72-bd0a-e5f304d6d711.png)

The following are the relevant accessibility report gotten from WAVE:

![wave-jupyterhub](https://user-images.githubusercontent.com/56475753/197180758-3f28b218-83d7-47a0-b716-4b9df326cc4d.png)

[2022-10-21 11:17] minrk commented on #68
Thank you for the suggestions!

[2022-10-21 11:18] minrk commented on #69
Thank you for the suggestions!

[2022-10-21 11:21] minrk commented on #70
Thanks for the suggestions!

[2022-10-21 11:25] minrk commented on #71
Thanks for the suggestions! I believe the `aria-labelledby` should get an _id_ of another element containing a label. As it's used here where the value should be the label itself, it should be `aria-label`.

For the redundant links - are there really redundant links? It is just one `a` tag?

[2022-10-21 11:29] minrk commented on #72
Thanks for the suggestions!

[2022-10-21 11:30] minrk commented on #73
Thank you for these suggestions!

[2022-10-21 11:33] minrk commented on #66
Thank you for these suggestions!

[2022-10-21 11:33] alexanderchosen commented on #106
Hello mentors @sgibson91 @minrk @GeorgianaElena, I have carefully worked on improving the web accessibility of Jupyter's home page [here](https://jupyter.org/). Please help review the issues submitted and I hope to get your feedback and corrections.
Thanks.

[2022-10-21 11:34] minrk commented on #67
Thanks for these suggestions!

[2022-10-21 11:37] minrk commented on #61
Thanks for the suggestions. Can you explain what you mean by "Table of content indentation" and how it relates to accessibility?

[2022-10-21 11:45] Noimot opened #107 "Accessibility: sloan grant"
### What page is this for?

https://jupyter.org/try-jupyter/retro/notebooks/

### WAVE accessibility report

![Screenshot (86)](https://user-images.githubusercontent.com/36402553/197180336-aaeacf41-494e-48b6-9d2d-1edc9e0b96b8.png)
![Screenshot (87)](https://user-images.githubusercontent.com/36402553/197180344-54226356-79f3-4915-807e-373d0fd34b7c.png)
![Screenshot (88)](https://user-images.githubus

[2022-10-21 11:53] minrk commented on #74
Good suggestions! I did not know you could put `lang` on any HTML element instead of just the page!

[2022-10-21 11:54] minrk commented on #75
It loosk like this is a page that didn't load in WAVE, and the evaluated HTML is coming from WAVE itself. Perhaps another page would work better?

[2022-10-21 11:57] minrk commented on #77
Thanks for the suggestions! The [aria-labelled-by](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attributes/aria-labelledby) attribute should contain an _id_ of another element containing the label text. It should not be the text itself.

[2022-10-21 11:59] minrk commented on #78
Thanks for the suggestions! The [aria-labelled-by](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attributes/aria-labelledby) attribute should contain an _id_ of another element containing the label text. It should not be the text itself.

I see you removed the mailto link from the email. Can you explain that in more detail?

[2022-10-21 12:02] minrk commented on #81
Thanks for the suggestions! I see you've mostly _described_ what you would do. I'd like to see the actual resulting before/after HTML, if that's possible.

[2022-10-21 12:07] minrk commented on #82
I think you've found the hidden twitter iframe which is meant to be hidden. I think it should probably be removed!

Thanks for the other suggestions as well!

[2022-10-21 12:09] minrk commented on #83
Thank you for the suggestions!

[2022-10-21 12:15] minrk commented on #84
Thanks for the suggestions! Can you elaborate on what you mean about indentation? Indentation of HTML code is not related to accessibility, or meaningful in HTML.

In markdown, code blocks must be esaped with back-ticks:

[code]

produces:

I have used a `<p>` tag and a `<li>`

[2022-10-21 12:16] minrk commented on #85
Thanks for these suggestions and their explanation!

[2022-10-21 12:17] minrk commented on #87
Great suggestions, thank you!

[2022-10-21 12:18] minrk commented on #88
Thank you for the detailed report and excellent suggestions!

[2022-10-21 12:19] minrk commented on #89
Thank you, we do indeed need to set that attribute

[2022-10-21 12:20] minrk commented on #90
Thanks for the suggestions!

[2022-10-21 12:21] minrk commented on #91
duplicate of #90

[2022-10-21 12:21] #91 closed

[2022-10-21 12:23] minrk commented on #92
Thanks for the suggestions!

[2022-10-21 12:26] marv-tech commented on #88
Thank you @minrk, can I work on anything else?

[2022-10-21 12:26] minrk commented on #96
Thanks for the suggestions!

[2022-10-21 12:27] Olaedey commented on #66
You're welcome sir

[2022-10-21 12:27] minrk commented on #100
Thanks for the suggestions and clear explanations!

[2022-10-21 12:30] minrk commented on #103
Thanks for the suggestions! I'm intrigued by the use of contrast filters, instead of modifying the actual colors used. Do you know what colors result?

[2022-10-21 12:31] minrk commented on #104
Thank you for the suggestions!

[2022-10-21 12:32] minrk commented on #105
Thank you for opening this issue! We asked for _specific_ HTML changes to be made. Can you provide the actual _fixed HTML_ that you propose?

[2022-10-21 12:34] minrk commented on #106
Thank you for the suggestions and detailed explanations, and trying different colors!

[2022-10-21 12:42] minrk commented on #93
I'm curious about this suggestion. From what I can tell, this suggestion _decreases_ the contrast of the affected elements. How did you come to this value for the background?

[2022-10-21 12:45] minrk commented on #98
Thanks for the suggestions! I'm curious how you came to some of these values. The link color changes appear to _decrease_ contrast, not increase it.

[2022-10-21 12:47] minrk commented on #102
Thanks for hte suggestions! Can you explain the use of `style="display:flex;justify-content:space-between;"` in your divs replacing labels?

[2022-10-21 12:48] minrk commented on #94
duplicate of #93

[2022-10-21 12:48] #94 closed

[2022-10-21 13:31] Divine-peace commented on #104
Appreciated sir

On Fri, Oct 21, 2022, 1:31 PM Min RK ***@***.***> wrote:

[2022-10-21 14:13] alexanderchosen commented on #106
@minrk thanks for your quick feedback. I'm so glad for this opportunity to contribute to this amazing project.
Thanks.

[2022-10-21 15:00] AbeerTannous commented on #84
Thanks for the review!
My note about indentation is not related to accissability , rather its related to the HTML code , and what I meant was instead of formatting the code this way

`<ul class="nav bd-sidenav bd-sidenav__home-link">
<li class="toctree-l1">
<a class="reference internal" href="intro.html">
 Project Jupyter Governance
</a>
</li>
</ul>`

to  be like this

` <ul class="nav bd-sidenav

[2022-10-21 15:06] AbeerTannous commented on #84
Thanks for the review!
My note about indentation is not related to accissability , rather its related to the HTML code , and what I meant was instead of formatting the code this way

`<ul class="nav bd-sidenav bd-sidenav__home-link">`
`<li class="toctree-l1">`
`<a class="reference internal" href="intro.html">`
`Project Jupyter Governance`
`</a>`
`</li>`
`</ul>`

to be like this

`<ul class="nav bd

[2022-10-21 15:29] AbeerTannous commented on #84
Thanks for the review!
My note about indentation is not related to accissability , rather its related to the HTML code , and what I meant was instead of formatting the code this way

`<ul class="nav bd-sidenav bd-sidenav__home-link">`
`<li class="toctree-l1">`
`<a class="reference internal" href="intro.html">`
`Project Jupyter Governance`
`</a>`
`</li>`
`</ul>`

to be like this

<pre>
`<ul class="

[2022-10-21 16:06] AbeerTannous commented on #84
Thanks for the review!
My note about indentation is not related to accissability , rather its related to the HTML code , and what I meant was instead of formatting the code this way

<ul class="nav bd-sidenav bd-sidenav__home-link">
<li class="toctree-l1">
<a class="reference internal" href="intro.html">
Project Jupyter Governance
</a>
</li>
</ul>

to be like this

`<ul class="nav bd-sidenav bd-si

[2022-10-21 16:25] Quemmies3 commented on #61
Thank you Min. I was actually referencing the type of listing used. It caused the table of contents to look not properly indented and confusing as it took a while for me to identify which item was a sublist, making it slightly inaccessible for me as a user.

[2022-10-21 16:25] Josephsanya commented on #38
**Hello, My name is Joseph Sanyaolu**

![Screenshot (2)](https://user-images.githubusercontent.com/57257090/197243478-cdc69528-18a0-4b0f-9b3e-9cd516d949a5.png)

I worked on the accessibility of the page: (https://mybinder.readthedocs.io/en/latest/using/using.html#preparing-a-repository-for-binder)

The following was observed and can be corrected:

**1 error**
missing alternative text

The alternat

[2022-10-21 17:19] smart882 opened #110 "Accessibility: jupyter.org/about"
### What page is this for?

http://jupyter.org/about

### WAVE accessibility report

![jupyterhub](https://user-images.githubusercontent.com/89043113/197122011-077d4055-5f23-4547-bd68-46b704bcba8b.PNG)

![jupyterhubalert](https://user-images.githubusercontent.com/89043113/197122139-2ee3fd70-7432-4433-b827-4934860384b7.PNG)

After my assessment using WAVE tool on jupyter.org,
0 error was noticed,

[2022-10-21 17:25] Biki-das opened #111 "Accessibility: Improving Acessibility of python.org/documentation.html"
### What page is this for?

https://ipython.org/documentation.html

### WAVE accessibility report

![Documentation — IPython — Mozilla Firefox 10_21_2022 10_48_30 PM](https://user-images.githubusercontent.com/72331432/197253253-b7737015-8a86-4d4c-810d-ad507ce24397.png)
![Documentation — IPython — Mozilla Firefox 10_21_2022 10_48_38 PM](https://user-images.githubusercontent.com/72331432/197253318-a

[2022-10-21 19:23] Ibom99 commented on #87
@minrk Thank you for the review!

[2022-10-21 20:56] Joel-Ando commented on #82
thanks Mr @minrk

[2022-10-21 21:16] bumblebib opened #112 "Accessibility: IPython - Microsoft Sponsor page"
### What page is this for?

https://ipython.org/microsoft-donation-2013.html

### WAVE accessibility report

# Wave Accessibility report:
![image](https://user-images.githubusercontent.com/90845861/197290024-0fdf3a87-52a9-4003-9192-6ca8988bff7d.png)

The overall issue with the page is that it doesn't fit with the present HTML5 semantics and structure. Among some issues found are:
- The lang tag no

[2022-10-21 23:44] Bhaybhiisparks commented on #103
Not really. The CSS filter property seems to work great on images. I was hoping it would have the same effect on texts.

[2022-10-21 23:57] Bhaybhiisparks commented on #103
So I ran a test on one of the links, these are the results

TEST:
<img width="826" alt="send to github 1" src="https://user-images.githubusercontent.com/86384288/197306361-18604a53-1fd0-4ac9-af0e-bc404f3af677.png">

RESULT
<img width="545" alt="send to github 2" src="https://user-images.githubusercontent.com/86384288/197306375-bd1aa678-55f4-491a-b058-8c8e40c8d253.png">

[2022-10-22 00:04] Bhaybhiisparks commented on #103
So I ran a test with one of the links. Here's the result

TEST:
<img width="826" alt="send to github 1" src="https://user-images.githubusercontent.com/86384288/197306674-96e31fd3-bdf8-46ed-af9e-6a09f00d4164.png">

RESULT:
<img width="463" alt="send to github 2" src="https://user-images.githubusercontent.com/86384288/197306694-a6c31d7a-a5c7-4bf2-83f5-ccc34ecd3162.png">

[2022-10-22 01:32] Lilianada commented on #78
My initial thought was to ignore the alert because the only way to not different buttons linked to a particular external link.

[2022-10-22 05:36] falyne commented on #70
Thanks @minrk

[2022-10-22 06:34] Ibom99 opened #113 "Accessibility: https://docs.jupyter.org/en/latest/install.html"
### What page is this for?

https://docs.jupyter.org/en/latest/install.html

### WAVE accessibility report

![Screenshot (212)](https://user-images.githubusercontent.com/104465078/197320543-045dea33-bca3-4573-ac60-03a374896b14.png)
![Screenshot (213)](https://user-images.githubusercontent.com/104465078/197320546-8cc37148-16a3-47fa-badc-23e7125aa411.png)
https://github.com/jupyterhub/outreachy/issu

[2022-10-22 14:25] sugarmango66 opened #114 "Accessibility:"
### What page is this for?

https://ipython.org/donate.html

### WAVE accessibility report

My name is Suzan, one of outreachy applicants. I'm so glad to be introduced to and familiar with accessibility topics which I know little before through this project. I realize it's quite an important but often ignored aspect of  web applications. Especially for a person from a developing country where peop

[2022-10-22 14:44] sugarmango66 commented on #38
Hi I'm Suzan Song from China. I really learned a lot in the practice process of this microtask. Here is [my submission in issue section](https://github.com/jupyterhub/outreachy/issues/114), feel free to give me your insight. Discussions are welcomed!

[2022-10-22 15:55] sugarmango66 commented on #114
Hi mentors @sgibson91 @minrk @GeorgianaElena , lucky me to have the opportunity to make a contribution to jupyterhub. Thank you for your giving on helping open source newcomers like me start a wonderful journey! To be honest it's my first time to open an issue. I get stuck now and then but I'm happy I made it at last. The  process really benefits me a lot. Please help review my submission if conve

[2022-10-22 16:19] Trailblazer007 commented on #38
Yes, sure you can. Just try to be quick about it because the deadline is close

[2022-10-22 17:54] Abolade017 commented on #102
There is an error saying there is an empty label form, so when I checked the <label> element and I realized that there is an `<i>` element inside the label but there is not text between the `<label><label>`tag,  so I think of wrapping the `<label>` and `<i class="fas fa-chevron-down"></i>` element in the `<div>` and give it a display: flex to put them on the same line and the justify-content: spac

[2022-10-22 20:32] yamakat commented on #37
#### Chosen high-level documentation section from the JupyterHub website: [Getting Started](https://jupyterhub.readthedocs.io/en/stable/getting-started/index.html)

![sub-sections distributed into the four quadrants of the diátaxis framework: Tutorials empty, How-to guides with "Configuration basics", "Network basics", "Security settings" and "Authentication and user basics", Explanation with "Ins

[2022-10-22 23:14] emmanuella194 commented on #37
![new jupyter](https://user-images.githubusercontent.com/20946918/197365589-2bbb8cec-941a-4d5d-a52a-78d8fb0b993b.PNG)

a. What does the mapping tell you about the current state of our documentation?

Answer- The mapping demonstrates that the documentation on jupyterhub is robust and fits perfectly into the various types/kinds of documentation. With well-detailed guides to help developers understan

[2022-10-23 12:37] Beamps-code commented on #37
@sgibson91 @falyne @falyne
Here is the [LINK](https://miro.com/app/board/uXjVPN8og-Q=/?share_link_id=940538526054) to my miro board for mapping out **Technical References**
1) What does the mapping tell you about the current state of our documentation

After using the Diataxis framework to analyze the **Technical Reference** section of the documentation, most of its subsections are majorly categor

[2022-10-23 12:38] Josephsanya opened #115 "Accessibility: https://mybinder.readthedocs.io/en/latest/using/using.html#preparing-a-repository-for-binder"
### What page is this for?

https://mybinder.readthedocs.io/en/latest/using/using.html#preparing-a-repository-for-binder

### WAVE accessibility report

I'm Joseph Sanyaolu, an Outreachy applicant who worked on the website [mybinder.org](https://mybinder.readthedocs.io/en/latest/using/using.html#preparing-a-repository-for-binder)
### **BINDER.ORG WAVE ACCESSIBILITY RESULTS**
![Screenshot (4)](http

[2022-10-23 12:41] Josephsanya commented on #38
I'm Joseph Sanyaolu, an Outreachy applicant who worked on the website [mybinder.org](https://mybinder.readthedocs.io/en/latest/using/using.html#preparing-a-repository-for-binder)
### **BINDER.ORG WAVE ACCESSIBILITY RESULTS**
![Screenshot (3)](https://user-images.githubusercontent.com/57257090/197387533-989d8fb4-45ea-42e0-8556-808096d047fc.png)
I evaluated the website using WAVE accessibility tool

[2022-10-23 12:50] Beamps-code commented on #37
@GeorgianaElena @sgibson91
Here is the [LINK](https://miro.com/app/board/uXjVPN8og-Q=/?share_link_id=734101013884) to my miro board for **Technical Reference** mapping.
1) What does the mapping tell you about the current state of our documentation

After using the Diataxis framework to analyze the **Technical Reference** section of the documentation, most of its subsections are majorly categorized

[2022-10-23 12:58] Beamps-code commented on #37
@sgibson91
Here is a [LINK][(url](https://miro.com/app/board/uXjVPN8og-Q=/?share_link_id=734101013884)) to my miro board for the **Installation Section** mapping
1) What does the mapping tell you about the current state of our documentation

After using the Diataxis framework to analyze the Installation Documentation, the documentation is well structured using into the quadrants.

2)Where will I c

[2022-10-23 14:28] preshpi opened #116 "Accessibility: Improving the accessibility in enforcement guidelines and principles page"
### What page is this for?

https://github.com/jupyterhub/outreachy/issues/38#issuecomment-1286039376

### WAVE accessibility report

My name is Precious. I'm contributing on the [Jupyter.org](https://jupyter.org/governance/conduct/enforcement.html#enforcement-guidelines-and-principles).
<img width="1440" alt="Screen Shot 2022-10-20 at 4 56 47 PM" src="https://user-images.githubusercontent.com/809

[2022-10-23 14:30] preshpi commented on #116
@minrk can you please review this :)

[2022-10-23 17:15] Trailblazer007 commented on #38
I'm actually interested in this, I mean, installing jupyterhub locally and testing the JupyterHub pages

[2022-10-23 18:11] Bhaybhiisparks opened #117 "Accessibility: Governance/Decision_Making"
### What page is this for?

https://jupyter.org/governance/decision_making.html

### WAVE accessibility report

https://github.com/jupyterhub/outreachy/issues/38#issuecomment-1274440430

<img width="227" alt="ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ" src="https://user-images.githubusercontent.com/86384288/197408507-5c72b8b3-309e-4ce1-bb8f-d624f91f5a47.png">

<img width="226" alt="zzzzzzzzzzzzzzzzzzzzzzzzzzz

[2022-10-23 19:24] Bennyonye opened #118 "Accessibility: governance reporting guide"
### What page is this for?

https://jupyter.org/try-jupyter/retro/notebooks/

### WAVE accessibility report

![Screenshot 2022-10-23 192429](https://user-images.githubusercontent.com/98492400/197409263-e70142c5-5da1-4a75-a65c-58ce6fa5cd9d.jpg)

9 Errors
Missing or uninformative page title
Language missing or invalid

0 Contrast Error

0 Alerts

3 Features

26 Structural Element

8 ARIA

### The HT

[2022-10-23 19:42] ChristianaOsun opened #119 "Accessibility: Improving ipython news page"
### What page is this for?

https://ipython.org/news.html

### WAVE accessibility report

The WAVE accessibility tool showed that the following can be improved upon on the [ipython news](https://ipython.org/news.html) page.

![WAVE](https://user-images.githubusercontent.com/66247893/197401080-3bba2988-89c1-4596-b4a4-c351344f65ef.png)

Based on this report, the following can be improved upon using

[2022-10-23 21:45] Bhaybhiisparks commented on #38
<img width="960" alt="papershtm" src="https://user-images.githubusercontent.com/86384288/197419671-4afa5d7c-a418-46f4-9fcb-a63467becf88.png">

I evaluated the accessibility of https://jupyter.org/governance/papers.html using the WAVE tool as recommended by the MENTOR. These are the issues and how I think they can be fixed:
JUPYTER: Governance/Papers.
1.	Empty form label: A form label is present, b

[2022-10-23 22:21] Bhaybhiisparks opened #120 "Accessibility: governance/papers"
### What page is this for?

https://jupyter.org/governance/papers.html

### WAVE accessibility report

https://github.com/jupyterhub/outreachy/issues/38#issuecomment-1288208023

<img width="960" alt="papershtm" src="https://user-images.githubusercontent.com/86384288/197420915-db8a9322-1134-4bbb-b72c-ee01990de4fc.png">

### The HTML element to be changed

[code]

### Your proposed HTML (or CSS), af

[2022-10-23 22:35] PoorvajaRayas commented on #37
[JupyterHub RBAC.docx](https://github.com/jupyterhub/outreachy/files/9847676/JupyterHub.RBAC.docx)

[2022-10-23 22:45] Divine-peace opened #121 "Accessibility: ipython.org/news"
### What page is this for?

https://ipython.org/news.html

### WAVE accessibility report

**This is the Summary and Suggestions for evaluating https://ipython.org/news.html with Wave**

![ipython](https://user-images.githubusercontent.com/103381382/197419353-a5eb417a-86bf-46d4-b079-cabf30d69d2e.png)

**Suggestions for Errors (Language missing or invalid):**

Add the document language using the `<h

[2022-10-23 23:26] Divine-peace commented on #38
**This is the Summary and Suggestions for evaluating  https://ipython.org/news.html with Wave**

![ipython](https://user-images.githubusercontent.com/103381382/197422919-77ec361a-e373-49cc-aeb1-5162f1902a07.png)

**Suggestions for Errors (Language missing or invalid):**

Add the document language using the <html lang> attribute with a valid value (e.g., <html lang="en">).
Ensure that all lang attr

[2022-10-24 00:47] PoorvajaRayas commented on #37
Hi @sgibson91  Here is the screenshot of the mapping of JupyterHub RBAC  documentation page following Diataxis framework
<img width="453" alt="new ss" src="https://user-images.githubusercontent.com/106921794/197425085-be82a2af-82c0-47b1-86d7-66fd26fe559e.png">

a. What does the mapping tell you about the current state of our documentation?
According to me although the documentation page has quite

[2022-10-24 01:11] Trailblazer007 opened #122 "Accessibility: I provided solutions to be implemented based on WAVE evaluation"
### What page is this for?

https://ipython.org/project.html

### WAVE accessibility report

![Screenshot from 2022-10-22 14-41-36](https://user-images.githubusercontent.com/64600704/197347519-a812ed8b-3946-442d-a84c-640ee5d7d61c.png)
My name is Fatoye Oluwaseun and I evaluated the accessibility of the page - https://ipython.org, in concordance with the WCGA 2 standards.

The results obtained from

[2022-10-24 01:13] lumenCodes commented on #37
Hello @sgibson91 I took some time to understand what the framework and how to best use it to achieve the task at hand, I have learnt a lot this past couple of weeks and I will be listing them here.

I will be focusing on the contributing section.
The goal of this is to make sure that the documentation answers the users questions and is easy to navigate.

[2022-10-24 07:27] minrk commented on #84
Ah, thank you. You're right. Often, HTML is compressed for efficiency in transmission rather than human readability. Very often, the final HTML is ultimately written by machines for machines, rather than by humans for humans.

The nice thing about HTML's space-insensitivity is that you can always take the HTML that's delivered to the browser and view it in the browser's inspector - then you will s

[2022-10-24 07:29] minrk commented on #110
Good suggestions, thank you!

[2022-10-24 07:51] Noimot commented on #105
on the issue raised about <button> being empty because it has no text, we can use a <div> with an attribute role="button"

[2022-10-24 08:26] minrk commented on #112
Great job on the mock-up website! That's very useful.

[2022-10-24 08:53] minrk commented on #113
Thanks for the suggestions!

[2022-10-24 10:20] minrk commented on #115
Thanks for the suggestions!

[2022-10-24 10:24] Josephsanya commented on #115
I'm Glad
You're welcome!

[2022-10-24 10:24] minrk commented on #116
Thanks for the suggestions! The [aria-labelled-by](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attributes/aria-labelledby) attribute should contain an _id_ of another element containing the label text. It should not be the text itself.

[2022-10-24 10:28] minrk commented on #117
Great suggestions, thank you!

[2022-10-24 10:36] minrk commented on #118
Thanks for these suggestions! Can you be more specific in the suggestions for 6 and 7 and why - actual, exact HTML elements to change, not just the _kind_ of changes to be made? The goal here is to apply the principles to specific changes, after identifying the relevant principles.

[2022-10-24 10:39] minrk commented on #120
Thanks for the suggestions!

[2022-10-24 10:41] minrk commented on #121
Thanks for the suggestions!

[2022-10-24 10:43] minrk commented on #122
Thanks for the suggestions!

[2022-10-24 10:45] Divine-peace commented on #121
You are welcome, sir.

On Mon, Oct 24, 2022, 11:41 AM Min RK ***@***.***> wrote:

[2022-10-24 10:56] minrk commented on #114
Thanks for the suggestions!

[2022-10-24 10:56] minrk commented on #119
Good suggestions, thank you!

[2022-10-24 11:51] Joel-Ando commented on #41
please Mrs @sgibson91 what is the right link for jupyterHub RBAC

[2022-10-24 11:58] smart882 opened #123 "Accessibility:"
### What page is this for?

http://jupyter.org/about

### WAVE accessibility report

![jupyterhublist](https://user-images.githubusercontent.com/89043113/197492292-73befe3c-d216-4afa-b83e-0d489010e19b.PNG)

Structural Elements:
To add to my earlier contribution, some codes in this section need to be changed.

1. Unordered list are present in this section. It is best practice to build a web page wh

[2022-10-24 12:01] #56 closed

[2022-10-24 12:11] minrk commented on #123
Thanks for these suggestions and explanation!

[2022-10-24 13:24] Ibom99 opened #124 "Accessibility: https://ipython.org/usersurvey2011.html"
### What page is this for?

https://ipython.org/usersurvey2011.html

### WAVE accessibility report

![Screenshot (218)](https://user-images.githubusercontent.com/104465078/197482063-0776eda8-40c9-4620-ac67-ab5beedc67e7.png)
![Screenshot (219)](https://user-images.githubusercontent.com/104465078/197482084-a2937582-f000-4d76-84df-d532e5c0d0f0.png)
https://github.com/jupyterhub/outreachy/issues/38#is

[2022-10-24 13:38] Teebarh commented on #37
![image (1)](https://user-images.githubusercontent.com/112214060/197530767-334f3319-be86-4fc9-9c9c-53bf2ffc8c75.png)
Hello @sgibson91 😁! I worked on the '**Getting started**' section of the documentation and as instructed, I structured the sub-sections of that page following the Diátaxis framework in the image above. I also learnt the following:

a. What does the mapping tell you about the current

[2022-10-24 14:00] AbeerTannous commented on #84
Got it ,Thanks for clarifying that to me .

[2022-10-24 14:26] alexanderchosen opened #125 "Accessibility: Improving the web accessibility for Jupyterhub page"
### What page is this for?

https://jupyter.org/hub

### WAVE accessibility report

![hub1](https://user-images.githubusercontent.com/56475753/197549209-f2741f8f-d9ce-48d8-a2ea-cdb71eb80c99.png)

![hub2](https://user-images.githubusercontent.com/56475753/197549249-8a6c04d5-366d-4713-bc88-20ccd7629cae.png)

**The following are the relevant accessibility report gotten from WAVE**:

1. **1 alert**: A

[2022-10-24 14:44] alexanderchosen commented on #125
@sgibson91 @minrk I properly reviewed JupyterHub's webpage using the WAVE tool and I also noted some areas which need changes.
I look forward to your feedback and corrections. Thanks

[2022-10-24 15:04] Abolade017 commented on #81
### **HTML before**
1. Empty button: This is the code to the empty button
[code]
2. The `<html style="--pulse-color: #fffc0230;">` of the document is missing `lang` attribute.
3. The landmark of the page is not correct.That is the structure did not contain <header> <main> and <footer> inside the `<body>`, therefore it is not structured appropriately. The following is the structure of the page docu

[2022-10-24 15:52] Abolade017 commented on #93
I got the color by  copying the code and use the style attribute to add color to it like this:
[code]
then hovering on the color,  the color palette appears and I used it to select the color and when I used it and tested it the very low contrast error disappear.
Here is the screenshot to my testing:
![color](https://user-images.githubusercontent.com/70269933/197570239-217a2b78-8f19-4d23-94c7-d975d

[2022-10-24 16:12] Abolade017 commented on #98
I got the color by  copying the code and use the style attribute to add color to it like this:
[code]
then hovering on the color,  the color palette appears and I used it to select the color and when I used it and tested it the very low contrast error disappear.
Here is the screenshot to my testing:

![color two](https://user-images.githubusercontent.com/70269933/197574125-7997bbdf-a622-43cc-add5-

[2022-10-24 16:28] lizzysambo opened #126 "Accessibility:"
### What page is this for?

http://jupyter.org/

### WAVE accessibility report

According to the wave accessibility report on the given image, there is a very low color contrast between the text and background colors.
![Screenshot_20221024-170448](https://user-images.githubusercontent.com/106925690/197573382-9ac2bfc7-fbe8-4cf0-bda3-bd9e15cb478c.png)

### The HTML element to be changed

[code]

###

[2022-10-24 16:29] #126 closed

[2022-10-24 18:59] #37 closed

[2022-10-24 18:59] sgibson91 commented on #41
This issue is now closed to new contributors. Thank you all for your contributions. Please remember to record them in Outreachy and submit your final application!

[2022-10-24 18:59] #41 closed

[2022-10-24 19:07] sgibson91 commented on #41
It's the URL of your comment or PR for your contribution

[2022-10-24 19:08] Sheila-nk commented on #40
Hey @Motunrayo321 I was experiencing the same issue while trying to run the tests but I was able to sort it out. I would like to assist you to resolve this if I can. Please provide more details on the error. Are you trying to run tests on the plugin itself or on the firstuserautheticator module using the plugin? And are the tests failing locally or GitHub Actions?

[2022-10-24 19:23] Sheila-nk opened #127 "pytest plugin: pytest-jup_hub"
### Please share the URL of pytest plugin you have created?

https://github.com/Sheila-nk/pytest-jup_hub/tree/main

### Please share the URL to your fork of `FirstUseAuthenticator` where you have integrated the plugin

https://github.com/Sheila-nk/firstuseauthenticator/tree/pytest-plugin

### Whether or not you managed to run the `FirstUseAuthenticator` tests succesfully

Yes, the tests run

### I

[2022-10-25 07:44] smart882 commented on #123
Thanks so much @minrk

[2022-10-25 08:03] minrk commented on #124
Thanks for the suggestions!

[2022-10-25 08:10] minrk commented on #125
Thank you for the suggestions!

[2022-10-25 10:12] Abolade017 commented on #102
There is an error saying there is an empty label form, so when I checked the <label> element and I realized that there is an `<i>` element inside the label but there is not text between the `<label><label>`tag,  so I think of wrapping the `<label>` and `<i class="fas fa-chevron-down"></i>` element in the `<div>` and give it a `display: flex;` to put them on the same line and the `justify-content:

[2022-10-25 10:13] Abolade017 commented on #93
I got the color by  copying the code and use the style attribute to add color to it like this:
[code]
then hovering on the color,  the color palette appears and I used it to select the color and when I used it and tested it the very low contrast error disappear.
Here is the screenshot to my testing:
![Uploading color.JPG…]()

[2022-10-25 10:16] Abolade017 commented on #98
I got the color by  copying the code and use the style attribute to add color to it like this:
[code]
then hovering on the color,  the color palette appears and I used it to select the color and when I used it and tested it the very low contrast error disappear.
Here is the screenshot to my testing:

![Uploading color two.JPG…]()

[2022-10-25 20:29] preshpi commented on #116
@minrk Thanks for the correction.
The aria-labelledby text should be placed in another element, and then the ID of that element should be used in the aria-labelledBy attribute.
So I suggest that

### The HTML to be changed

[code]

### The HTML after change

[code]

[2022-10-26 06:13] ToobaJamal commented on #41
@sgibson91 what are we supposed to write in the Outreachy internship project timeline?
![Screenshot 2022-10-26 111127](https://user-images.githubusercontent.com/52610124/197948541-5b03a2f5-8aa7-4cc4-b3ce-e654d1399b77.png)

[2022-10-26 07:33] sugarmango66 commented on #121
Hi Divine-peace, I notice you register your name on the unit same with me in the [spreedsheet](https://docs.google.com/spreadsheets/d/1RjxERA3ux7k-rbUT_sej9eAlcgTA6BhivRPJB9CG33o/edit#gid=0). I want to discuss since we work on the same page then found you deal with news page. so maybe you can update in the spreedsheet for mentor to locate right~

[2022-10-26 09:48] sgibson91 commented on #41
@ToobaJamal Please put together a rough timeline based on commitments you know you will have during the internship period. We will work with the successful applicant to fine-tune their timeline.

[2022-10-26 11:11] ade-ronke commented on #53
1.Contrast.
**Before**
HTML
<a class="orange-button " href="/install" style="color: rgb(255, 255, 255); background-color: rgb(228, 110, 46 )>Try it in your browser</a>
CSS
.orange-button{
  Font-size:1.2em;
  Border-radius:2px;
  Text-shadow: 0px 0px 4px #000;
  Padding:0.75em 1.25em;
 Margin:0 0.5em 0 0;
 Text-align:center;
 Text-decoration:none;
}

**AFTER**
HTML
<a class=”orange-button” href=”/

[2022-10-26 11:56] alexanderchosen commented on #125
It's was nice working on this issue and i learnt alot of new things especially on how to properly evaluate a webpage accessibility.
Thanks alot @minrk

[2022-10-26 12:44] Divine-peace commented on #121
Please, throw a little more light on this because I couldn't get it

On Wed, Oct 26, 2022, 8:33 AM cool_watermelon ***@***.***>
wrote:

[2022-10-26 20:09] smart882 commented on #123
Hello Mentor, Good evening. I'm really glad to have you as one of my Mentors. Thanks so much for always giving a shift response to issues. I tried recording my contribution on the Outreachy page from the Outreachy guidelines, then I realized that the project I worked on is not there anymore. Please, guide me on what to do. Thank you very much, Sir.

[2022-10-27 04:35] sugarmango66 commented on #121
<img width="1364" alt="image" src="https://user-images.githubusercontent.com/94340363/198191663-840ce77d-4fe2-4d84-9613-1e84ed1eff5e.png">
hey, I mean before we start and after completion, we put our name on the sheet aligned with page url we work with. Like the Instructions said: Pick a page to work on and add your GitHub username next to it in the relevant column. So just a warming reminder that

[2022-10-27 06:14] Divine-peace commented on #121
Multiple person's can work on a page okay?

On Thu, Oct 27, 2022, 5:36 AM cool_watermelon ***@***.***>
wrote:

[2022-10-28 21:21] DBAKITA opened #129 "Accessibility:"
### What page is this for?

https://ipython.org/documentation.html

### WAVE accessibility report

Wave accessibility Report Link is https://github.com/jupyterhub/outreachy/issues/38#issuecomment-1277649881

![wave evaluation of ipython documentation](https://user-images.githubusercontent.com/87822858/198734035-8106ce8d-645b-4a2c-b5e8-8af52310971b.JPG)

I evaluated https://ipython.org/documentatio

[2022-10-28 21:38] Mackenzie-OO7 commented on #71
Thanks for the review!
For the redundant links, both the text, and the link are the same link.

[2022-10-31 08:07] EbubeEvan commented on #67
It was my pleasure
I learned a lot from this project

[2022-10-31 18:17] DBAKITA opened #130 "Accessibility:"
### What page is this for?

https://ipython.org/documentation.html

### WAVE accessibility report

![wave evaluation of ipython documentation](https://user-images.githubusercontent.com/87822858/199071254-1e4e64ed-fa31-4c43-a0b6-a923b8d4d1cb.JPG)

I evaluated https://ipython.org/documentation.html using WAVE web accessibility evaluation tool.

Link to my  comment https://github.com/jupyterhub/outre

[2022-11-01 12:56] minrk commented on #77
@Divine-peace please do!

[2022-11-01 13:13] Divine-peace commented on #77
A big thanks to you sir

On Tue, Nov 1, 2022, 1:56 PM Min RK ***@***.***> wrote:

[2022-11-02 07:49] liliyao2022 opened #131 "Accessibility: Evaluate and Improve Accessibility of mybinder.org"
### What page is this for?

https://mybinder.org/

### WAVE accessibility report

<img width="1403" alt="Screenshot 2022-11-02 at 5 03 25 pm" src="https://user-images.githubusercontent.com/103026397/199411084-a2f6e117-90ae-41d6-8a0b-7de17c6e307e.png">

After evaluating this page with the WAVE tool,  I found there are several errors that needed to be improved.

**8 Contrast Errors**  which means ve

[2022-11-02 20:44] Beamps-code commented on #37
What URL are we supposed to put as the contribution URL?

[2022-11-02 22:15] sgibson91 commented on #37
If you click the three dots on the top right corner of the comment _you made_ on this issue, you will get a "Copy link" option. That is the URL you should provide.

[2022-11-03 09:21] #129 closed

[2022-11-03 17:09] DBAKITA commented on #38
Hello @minrk please see my open issue https://github.com/jupyterhub/outreachy/issues/130 with suggestions on on how the html and css of ipython documentation page https://ipython.org/documentation.html can be improved

[2022-11-08 16:02] sgibson91 commented on #40
Thank you everyone for your contributions!

[2022-11-08 16:02] sgibson91 commented on #39
Thank you everyone for your contributions!

[2022-11-08 16:02] #39 closed

[2022-11-10 11:03] sgibson91 commented on #131
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:04] sgibson91 commented on #130
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:04] sgibson91 commented on #125
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:04] #130 closed

[2022-11-10 11:04] sgibson91 commented on #124
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:04] #125 closed

[2022-11-10 11:04] #124 closed

[2022-11-10 11:04] sgibson91 commented on #123
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:04] #123 closed

[2022-11-10 11:04] sgibson91 commented on #122
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:04] #122 closed

[2022-11-10 11:04] sgibson91 commented on #121
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:04] #121 closed

[2022-11-10 11:04] sgibson91 commented on #120
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:04] #120 closed

[2022-11-10 11:04] sgibson91 commented on #119
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:04] #119 closed

[2022-11-10 11:04] sgibson91 commented on #118
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:04] #118 closed

[2022-11-10 11:04] sgibson91 commented on #117
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:04] sgibson91 commented on #116
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:04] #116 closed

[2022-11-10 11:04] sgibson91 commented on #115
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:04] sgibson91 commented on #114
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:04] #114 closed

[2022-11-10 11:04] sgibson91 commented on #113
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:04] sgibson91 commented on #112
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:04] #113 closed

[2022-11-10 11:04] #112 closed

[2022-11-10 11:04] sgibson91 commented on #111
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:04] #111 closed

[2022-11-10 11:04] sgibson91 commented on #110
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:04] #110 closed

[2022-11-10 11:04] sgibson91 commented on #107
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:05] #107 closed

[2022-11-10 11:05] sgibson91 commented on #106
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:05] #106 closed

[2022-11-10 11:05] sgibson91 commented on #105
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:05] #105 closed

[2022-11-10 11:05] sgibson91 commented on #104
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:05] #104 closed

[2022-11-10 11:05] sgibson91 commented on #103
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:05] #103 closed

[2022-11-10 11:05] sgibson91 commented on #102
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:05] #102 closed

[2022-11-10 11:05] sgibson91 commented on #100
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:05] #100 closed

[2022-11-10 11:05] sgibson91 commented on #98
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:05] #98 closed

[2022-11-10 11:05] sgibson91 commented on #96
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:05] #96 closed

[2022-11-10 11:05] sgibson91 commented on #93
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:05] #93 closed

[2022-11-10 11:05] sgibson91 commented on #92
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:05] #92 closed

[2022-11-10 11:05] #90 closed

[2022-11-10 11:07] sgibson91 commented on #89
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:07] #89 closed

[2022-11-10 11:07] sgibson91 commented on #88
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:07] #88 closed

[2022-11-10 11:07] sgibson91 commented on #87
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:07] sgibson91 commented on #85
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:07] sgibson91 commented on #84
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:07] #85 closed

[2022-11-10 11:07] #84 closed

[2022-11-10 11:07] #83 closed

[2022-11-10 11:07] sgibson91 commented on #82
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:07] #82 closed

[2022-11-10 11:07] sgibson91 commented on #81
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:07] sgibson91 commented on #79
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:07] sgibson91 commented on #78
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:07] #79 closed

[2022-11-10 11:07] #78 closed

[2022-11-10 11:07] sgibson91 commented on #77
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:07] sgibson91 commented on #75
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:07] #75 closed

[2022-11-10 11:07] sgibson91 commented on #74
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:07] #74 closed

[2022-11-10 11:07] #73 closed

[2022-11-10 11:07] sgibson91 commented on #72
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:07] sgibson91 commented on #71
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:07] #72 closed

[2022-11-10 11:07] #71 closed

[2022-11-10 11:07] sgibson91 commented on #70
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:07] #70 closed

[2022-11-10 11:07] sgibson91 commented on #69
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:07] #69 closed

[2022-11-10 11:07] #68 closed

[2022-11-10 11:07] sgibson91 commented on #67
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:07] #67 closed

[2022-11-10 11:07] sgibson91 commented on #66
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:07] #66 closed

[2022-11-10 11:07] sgibson91 commented on #65
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:07] #65 closed

[2022-11-10 11:07] sgibson91 commented on #64
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:07] #64 closed

[2022-11-10 11:07] sgibson91 commented on #63
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:07] #63 closed

[2022-11-10 11:07] sgibson91 commented on #62
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:07] sgibson91 commented on #61
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:07] #62 closed

[2022-11-10 11:07] #61 closed

[2022-11-10 11:07] sgibson91 commented on #60
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:07] #60 closed

[2022-11-10 11:08] sgibson91 commented on #59
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:08] #59 closed

[2022-11-10 11:08] sgibson91 commented on #58
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:08] #58 closed

[2022-11-10 11:08] sgibson91 commented on #57
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:08] #57 closed

[2022-11-10 11:08] #55 closed

[2022-11-10 11:08] sgibson91 commented on #54
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:08] #54 closed

[2022-11-10 11:08] sgibson91 commented on #53
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:08] #53 closed

[2022-11-10 11:08] sgibson91 commented on #52
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:08] #52 closed

[2022-11-10 11:08] sgibson91 commented on #51
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:08] #51 closed

[2022-11-10 11:08] #50 closed

[2022-11-10 11:09] sgibson91 commented on #127
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:09] sgibson91 commented on #80
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:09] #127 closed

[2022-11-10 11:09] #80 closed

[2022-11-10 11:09] sgibson91 commented on #76
Thank you for your contribution! Since the contribution period is now over, we will close this issue.

[2022-11-10 11:09] #76 closed

[2022-11-10 12:02] kerylefondji commented on #54
ok thanks Sarah Gibson, it was a great pleasure for me to contribute to
this issue.

Le jeu. 10 nov. 2022 à 12:08, Sarah Gibson ***@***.***> a
écrit :

[2022-11-11 17:59] sgibson91 commented on #44
Can also create an issue template for mentors opening microtasks on the repo for the contribution period

[2022-11-23 11:43] sgibson91 commented on #43
I cleaned up some old labels and created the `level:` labels described above https://github.com/jupyterhub/outreachy/labels

[2022-11-23 15:08] sgibson91 opened #138 "Preparing to onboard the interns"
Some questions around what we may need to setup before the interns begin

- should we meet with them for greetings before their official start date?
- what do we need to have ready for them before they start:
	- a plan for how to get and provide feedback
	- a repository ready for them to start working in
	- a set of initial issues or a plan on how to tackle the project
	- what documentation should

[2022-11-23 15:11] sgibson91 commented on #138
I was going to send out an email to each intern that covered some of these topics:

- Arrange a regular meeting time with your mentor
- Here is a template document to keep notes from your meetings in
- Reach out to Community Coordinator (me) if there are any issues, or one of the other mentors if issue involves the Comm Coord

[2022-11-24 08:49] GeorgianaElena commented on #138
Another idea:
Write a celebratory blog post in https://blog.jupyter.org to announce the interns and projects

[2022-11-24 10:41] sgibson91 commented on #138
I wonder if these points are fine to work through in the first week of the internship? For example depending on the skill level of the intern, including them in point 2 would be a great opportunity for them to take ownership of the work, and gain experience in the planning of projects, as opposed to just execution?

[2022-11-24 13:32] minrk commented on #138
Yeah, I think that's a good idea. I'd be happy to do a demo meeting during the first week as well.

[2022-11-24 15:15] sgibson91 commented on #138
Ok, I have a to-do list for next week:

- [ ] Create some meeting notes templates to share
- [ ] Send out intro email for each intern/mentor set
  - [ ] Include when2meet for demo session in the first week
  - Include above meeting notes template
- [ ] Begin welcome blog post and ask interns for a few lines about them
- [ ] Setup first cohort call for interns

[2022-11-24 17:00] sgibson91 opened #143 "Consider more thorough review guidelines"
Currently, we say mentors will follow Outreachy's recommendations

- https://jupyterhub-outreachy.readthedocs.io/en/latest/mentors/application-review.html#guidelines-for-reviewing-applications
- https://www.outreachy.org/docs/applicant/#contribution-evaluation

Is there anything that is not covered there that we think should be? Should we be more specific?

Here are some example guidelines from ot

[2022-11-25 12:56] sgibson91 commented on #138
- Meeting notes template #144 (I quick merged this to avoid conflicts and I don't think it's too controversial)
- Intro email template #145

[2022-11-28 11:20] sgibson91 opened #146 "Mentor feedback dates - December 22 cohort"
Here are the dates that mentors are required to submit feedback on the interns by:

- [x] Dec. 12, 2022 4pm UTC - Feedback 1 is due
- [x] Jan. 10, 2023 4pm UTC - Feedback 2 is due
- [x] Jan. 31, 2023 4pm UTC - Feedback 3 is due
- [x] Feb. 27, 2023 4pm UTC - Feedback 4 is due